<app-header></app-header>
<!-- * * * * * * * * * * * Header End * * * * * * * * * * * -->

<!-- * * * * * * * * * * * Banner Start * * * * * * * * * * * -->
<div class="local_banner" style="background-image: url(assets/images/local-brands-image-min.png);">
    <div class="white_banner_box">
        <h3>{{localBannerHeading}}</h3>
        <p>{{localBannerPara}}</p>
        <a class="btn btn-primary sell_on_bazar"><span>Sell on Bazar <img src="assets/images/right-arrows-black.png" alt="" class="black_arrow"></span></a>
        <a class="btn btn-primary sign_up_to_shop"><span>Sign up to shop <img src="assets/images/right-arrows-white.png" alt="" class="white_arrow"></span></a>
    </div>
</div>
<!-- * * * * * * * * * * * Banner End * * * * * * * * * * * -->

<!-- * * * * * * * * * * * Common Section Start * * * * * * * * * * * -->
<div class="comn_Sec">
    <div class="comn_Sec_left_footer">
        <div class="comn_Sec_left_footer_text">
            <h3>{{localCommonHeading}}</h3>
            <h4>{{localCommonSubHeading}}</h4>
        </div>
    </div>
    <div class="comn_Sec_right_footer">
        <div class="comn_Sec_right_footer_text">
            <ul class="comn_Sec_footer_list">
                <li *ngFor="let commonArrays of commonArray">
                    <img src="{{commonArrays.imgPath}}" alt="image" />
                    <p>{{commonArrays.textPath}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- * * * * * * * * * * * Common Section End * * * * * * * * * * * -->

<!-- * * * * * * * * * * * Common-Explore-Cetagory Section Start * * * * * * * * * * * -->
<div class="comn_explore_cat">
    <div class="container">
        <h3>Explore Categories</h3>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="local-brands" role="tabpanel" aria-labelledby="local-manufacturers-tab">
                <div class="container">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide *ngFor="let categoryArrays of categoryArray">
                            <div class="category_box">
                                <div class="category_box_inner">
                                    <div class="img_div">
                                        <img src="{{categoryArrays.imgName}}" alt="">
                                    </div>
                                    <div class="text_div">
                                        <h3>{{categoryArrays.titleName}}</h3>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- * * * * * * * * * * * Common-Explore-Cetagory Section End * * * * * * * * * * * -->

<!-- * * * * * * * * * * * Common-New-Bazar Section start * * * * * * * * * * * -->
<div class="new_bazar_section">
    <div class="container">
        <h3>New to Bazar</h3>
        <owl-carousel-o [options]="customOptions4">
            <ng-template carouselSlide *ngFor="let newCatArrays of newCatArray">
                <div class="category_box">
                    <div class="category_box_inner">
                        <div class="img_div">
                            <img src="{{newCatArrays.newImgName}}" alt="">
                        </div>
                        <div class="text_div">
                            <h4>{{newCatArrays.newTitleName}}</h4>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
<!-- * * * * * * * * * * * Common-New-Bazar Section end * * * * * * * * * * * -->

<!-- * * * * * * * * * * * Common-clients-Says Section start * * * * * * * * * * * -->
<div class="gray_clients__says">
    <div class="container">
        <div class="client_box">
            <img src="{{clientsImg}}" alt="">
            <h4>"Bazar makes preordering easy. <br>I have my pick of the newest styles, plus I pay <br>60 days after they ship."</h4>
            <h5>Mart</h5>
        </div>
    </div>
</div>
<!-- * * * * * * * * * * * Common-clients-Says Section end * * * * * * * * * * * -->

<!-- * * * * * * * * * * * Common-clients-Says Section start * * * * * * * * * * * -->
<div class="trending_on_bazar">
    <div class="container">
        <h3>Trending on Bazar</h3>
        <div class="row">
            <ul class="trending_list">
                <li>
                    <div class="imgDiv"><img src="assets/images/trending-img1.jpg" alt=""></div>
                    <h4>Hand-made</h4>
                </li>
                <li *ngFor="let trendingArrays of trendingArray">
                    <div class="imgDiv"><img src="{{trendingArrays.trendingImg}}" alt=""></div>
                    <h4>{{trendingArrays.trendingText}}</h4>
                </li>  
            </ul>
        </div>
    </div>
</div>
<!-- * * * * * * * * * * * Common-clients-Says Section end * * * * * * * * * * * -->

<!-- * * * * * * * * * * * Common-clients-Says Section start * * * * * * * * * * * -->
<div class="about_bazar_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text_div">
                <h3><span>Why</span> Bazar?</h3>
                <p>Made for your home and for your wellness</p>
                <ul>
                    <li *ngFor="let bazarListArrays of bazarListArray" [innerHtml]="bazarListArrays.textContent"></li>
                </ul>
                <div class="btn_center">
                    <a class="btn btn btn-primary sell_bazar"><span>Sell on Bazar <img src="assets/images/right-arrows-black.png" alt="" class="black_arrow"></span></a>
                    <a class="btn btn btn-primary sign_up_to_shop"><span>Sign up to shop <img src="assets/images/right-arrows-white.png" alt="" class="white_arrow"></span></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="imgDiv"><img src="assets/images/young-pretty-modern-muslim-woman-hijab-working-laptop-office-room-education-online-(1).jpg" alt=""></div>
            </div>
        </div>
    </div>
</div>
<!-- * * * * * * * * * * * Common-clients-Says Section end * * * * * * * * * * * -->

<!-- * * * * * * * * * * * Common-Local-Brands Section start * * * * * * * * * * * -->
<div class="new_bazar_section">
    <div class="container">
        <h3>Explore Local Brands</h3>
        <owl-carousel-o [options]="localcarousel2">
            <ng-template carouselSlide *ngFor="let localCategoryArrays2 of localCategoryArray2">
                <div class="category_box">
                    <div class="category_box_inner">
                        <div class="img_div">
                            <img src="{{localCategoryArrays2.newImgName}}" alt="">
                        </div>
                        <div class="text_div">
                            <h4>{{localCategoryArrays2.newTitleName}}</h4>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
<!-- * * * * * * * * * * * Common-Local-Brands Section end * * * * * * * * * * * -->

<!-- * * * * * * * * * * * Banner Start * * * * * * * * * * * -->
<div class="local_banner" style="background-image: url(assets/images/bg-image.png);">
    <div class="white_banner_box">
        <h3>Are you ready for wholesale?</h3>
        <p>Reach new level in sales</p>
        <a class="btn btn-primary sell_on_bazar"><span>Sell on Bazar <img src="assets/images/right-arrows-black.png" alt="" class="black_arrow"></span></a>
        <a class="btn btn-primary sign_up_to_shop"><span>Sign up to shop <img src="assets/images/right-arrows-white.png" alt="" class="white_arrow"></span></a>
    </div>
</div>
<!-- * * * * * * * * * * * Banner End * * * * * * * * * * * -->

<ng-template #resetContent let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <h3>Reset your password</h3>
        <p>Type your new password to receive access to Bazar</p>
            <ul class="formOne">
            <form #resetPassForm="ngForm" (ngSubmit)="resetPassForm.form.valid && sendResetPassData()" (keydown.enter)="resetPassForm.form.valid && sendResetPassData()" novalidate>
                <li>
                    <input required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,3}$" email type="text" class="form-control" placeholder="E-mail" name="email_address" [(ngModel)]="email_address" #email_addressVal="ngModel">
                    <span class="validate_errors"
                        *ngIf="(email_addressVal.touched || resetPassForm.submitted) && email_addressVal.errors?.['required']">
                        This field is required
                    </span>
                    <span class="validate_errors"
                        *ngIf="(email_addressVal.touched || resetPassForm.submitted) && email_addressVal.errors?.['pattern']">
                        Enter an valid email
                    </span>
                    <input type="password" required pattern="(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" class="form-control" placeholder="Password" name="password" [(ngModel)]="password" #passwordVal="ngModel">
                    <span class="validate_errors"
                        *ngIf="(passwordVal.touched || resetPassForm.submitted) && passwordVal.errors?.['required']">
                        This field is required.
                    </span>
                    <span class="validate_errors"
                        *ngIf="(passwordVal.touched || resetPassForm.submitted) && passwordVal.errors?.['pattern']">
                        Password length must be greater than or equal to 8 and must contain one or more uppercase characters, lowercase characters, numeric values, special characters.
                    <input required type="password" class="form-control" placeholder="New Password" name="password" [(ngModel)]="password" #passwordVal="ngModel">
                    <span class="validate_errors"
                        *ngIf="(passwordVal.touched || resetPassForm.submitted) && passwordVal.errors?.['required']">
                        This field is required
                    </span>
                    <!-- <input required type="text" class="form-control" placeholder="Confirm Password" name="confirm_password" [(ngModel)]="confirm_password" #confirm_passwordVal="ngModel">
                    <span class="validate_errors"
                        *ngIf="(passwordVal.touched || resetPassForm.submitted) && confirm_passwordVal.errors?.['required']">
                        This field is required
                    </span> -->
                    <button *ngIf="!btnDis" type="submit" class="btn btn-primary continue_btn fullBtn">Reset Password</button>
                    <button *ngIf="btnDis" type="submit" class="btn btn-primary continue_btn fullBtn" disabled>Reset Password</button>
                </li>
            </form>
            </ul>
            <div class="clearfix"></div>
    </div>
</ng-template>

<app-footer></app-footer> 