<div class="gray_body">
    <div class="container-fluid profileDiv">
        <div class="row">
            <div class="col-lg-2 col-sm-4">
                <app-user-left-sidebar></app-user-left-sidebar>
            </div>
            <div class="col-lg-10 col-sm-8">
                <h2 class="heading">Product Name</h2>
                <div class="rightAccount">
                    <div class="row order-top">
                        <div class="col-md-9 left-order-top">
                            <h4>Pending Order From My Amarant</h4>
                            <p>Once you confirm thisorder, My Amarant will be able to fulfill it.</p>
                        </div>
                        <div class="col-md-3 right-order-top">
                            <a class="btn btn-primary">Confirm Order</a>
                            <span class="alart-text">Add a <a>payment method</a> to confirm your order</span>
                        </div>
                    </div>
                    <ul class="order-item-list">
                        <li>
                            <div class="order-top-details">
                                <ul>
                                    <li>
                                        <label>Pending Order</label>
                                        <h5>XGE6XHUSXB</h5>
                                    </li>
                                    <li>
                                        <label>Date Placed</label>
                                        <h5>February 1, 2023</h5>
                                    </li>
                                    <li>
                                        <label>Ship To</label>
                                        <h5>Qatar, Dokha, street Bay 2</h5>
                                    </li>
                                    <li>
                                        <label>Total</label>
                                        <h5>$1.00</h5>
                                    </li>
                                </ul>
                            </div>
                            <div class="order-bottom-details">
                                <table class="table">
                                    <tr>
                                        <td><img src="assets/images/PrdtImg.jpg" alt="" /></td>
                                        <td>
                                            <h4>Product name</h4>
                                            <h5>Wood/ xl / black</h5>
                                            <ul>
                                                <li>
                                                    <label>Items</label>
                                                    <h6>1</h6>
                                                </li>
                                                <li>
                                                    <label>MSRP</label>
                                                    <h6>$2.00</h6>
                                                </li>
                                                <li>
                                                    <label>Wholesale Price</label>
                                                    <h6>$1.00</h6>
                                                </li>
                                                <li>
                                                    <label>Item Status</label>
                                                    <h6>Processing</h6>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="assets/images/PrdtImg.jpg" alt="" /></td>
                                        <td>
                                            <h4>Product name</h4>
                                            <h5>Wood/ xl / black</h5>
                                            <ul>
                                                <li>
                                                    <label>Items</label>
                                                    <h6>1</h6>
                                                </li>
                                                <li>
                                                    <label>MSRP</label>
                                                    <h6>$2.00</h6>
                                                </li>
                                                <li>
                                                    <label>Wholesale Price</label>
                                                    <h6>$1.00</h6>
                                                </li>
                                                <li>
                                                    <label>Item Status</label>
                                                    <h6>Processing</h6>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <li>
                            <div class="order-top-details">
                                <ul>
                                    <li>
                                        <label>Pending Order</label>
                                        <h5>XGE6XHUSXB</h5>
                                    </li>
                                    <li>
                                        <label>Date Placed</label>
                                        <h5>February 1, 2023</h5>
                                    </li>
                                    <li>
                                        <label>Ship To</label>
                                        <h5>Qatar, Dokha, street Bay 2</h5>
                                    </li>
                                    <li>
                                        <label>Total</label>
                                        <h5>$1.00</h5>
                                    </li>
                                </ul>
                            </div>
                            <div class="order-bottom-details">
                                <table class="table">
                                    <tr>
                                        <td><img src="assets/images/PrdtImg.jpg" alt="" /></td>
                                        <td>
                                            <h4>Product name</h4>
                                            <h5>Wood/ xl / black</h5>
                                            <ul>
                                                <li>
                                                    <label>Items</label>
                                                    <h6>1</h6>
                                                </li>
                                                <li>
                                                    <label>MSRP</label>
                                                    <h6>$2.00</h6>
                                                </li>
                                                <li>
                                                    <label>Wholesale Price</label>
                                                    <h6>$1.00</h6>
                                                </li>
                                                <li>
                                                    <label>Item Status</label>
                                                    <h6>Processing</h6>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="assets/images/PrdtImg.jpg" alt="" /></td>
                                        <td>
                                            <h4>Product name</h4>
                                            <h5>Wood/ xl / black</h5>
                                            <ul>
                                                <li>
                                                    <label>Items</label>
                                                    <h6>1</h6>
                                                </li>
                                                <li>
                                                    <label>MSRP</label>
                                                    <h6>$2.00</h6>
                                                </li>
                                                <li>
                                                    <label>Wholesale Price</label>
                                                    <h6>$1.00</h6>
                                                </li>
                                                <li>
                                                    <label>Item Status</label>
                                                    <h6>Processing</h6>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
