<div class="footer">
    <div class="topFooter">
        <div class="container">
            <div class="footer_inner">
                <div class="row">
                    <div class="col-lg-6 col-md-5 footer_logo"><img src="assets/images/footer-log.png"
                            alt="footer logo"></div>
                    <div class="col-lg-2 col-md-2 footer_menu_same">
                        <h3>Company</h3>
                        <ul class="f_menu_list">
                            <li><a routerLinkActive="active" routerLink="/faq"  href="#/faq">About us</a></li>
                            <li><a routerLinkActive="active" routerLink="/blog"  href="#/blog">Blog & News</a></li>
                            <li><a>Partnerships</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-2 footer_menu_same">
                        <h3>Support</h3>
                        <ul class="f_menu_list">
                            <li><a routerLinkActive="active" routerLink="/faq"  href="#/faq">F.A.Q.</a></li>
                            <li><a>Apply to sell</a></li>
                            <li><a>Bazar Markets</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 footer_Social">
                        <h3>Our contacts</h3>
                        <ul class="f_menu_list">
                            <li><a routerLinkActive="active" routerLink="/contact"  href="#/contact">Contact us</a></li>
                        </ul>
                        <ul class="f_social_list">
                            <li><a><img src="assets/images/youtube_icon.svg" alt=""></a></li>
                            <li><a><img src="assets/images/insta_icon.svg" alt=""></a></li>
                            <li><a><img src="./assets/images/fb_icon.svg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottomFooter">
        <div class="container">
            <ul>
                <li>©2021 BAZAR, Inc.</li>
                <li><a routerLinkActive="active" routerLink="/termsofUse"  href="#/termsofUse">Terms of Service</a></li>
                <li><a>Privacy Policy</a></li>
                <li><a>Cookie Policy</a></li>
                <li><a>IP Policy</a></li>
                <li><a>Sitemap</a></li>
            </ul>
        </div>
    </div>
</div>