<app-vendor-dashboard-header></app-vendor-dashboard-header>
<div class="dashboard_body">
    <app-vendor-side-menu></app-vendor-side-menu>
    <div class="middle_vendor_dasboard">
        <div class="middle_content">
            <h3>Welcome</h3>
            <div>Please verify your Email. <a>Resend email.</a></div>
            <div class="whiteBox">
                <h4>Preview your shop page</h4>
                <div class="whitebox_content">
                    <p>Need to update something? Use these quick links to edit your imagery, products, ordering
                        preferences and more before going live. For more help, visit our <a>Help Center</a></p>
                    <ul class="left_update_list">
                        <li>
                            <h4>Update your shop's header details</h4>
                            <p>Add new brand photography, edit your story, update your social media handle, and
                                more.
                            </p>
                            <a class="edit_link" routerLink="/my-shop" >Edit Shop Page</a>
                        </li>
                        <li>
                            <h4>Add or update products</h4>
                            <p>Missing products? Add them to your shop, or update your product photos, prices, and
                                more.
                            </p>
                            <a class="edit_link" routerLink="/products">Edit Products</a>
                        </li>
                        <li>
                            <h4>Reorder your product listings</h4>
                            <p>Choose how your products will appear on your page, or have us sort them
                                scientifically.
                            </p>
                            <a class="edit_link" routerLink="/arrange-items">Edit Arrangement</a>
                        </li>
                        <li>
                            <h4>Review your shop settings</h4>
                            <p>Set your order preferences, like your order minimum, average lead time, and more.</p>
                            <a class="edit_link" routerLink="/my-shop/settings">Edit Shop Settings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="right_vendor_dasboard">
        <div class="right_content_overflow">
            <h3>Shop assistant</h3>
            <div class="right_gray_box">
                <h3>Set up shop on Bazar</h3>
                <p>Make sure you have all your product details and photography ready to upload! Check out your
                    shop
                    page
                    and
                    make any final edits before going live.</p>
            </div>
            <div class="bottomrightbox">
                <h3>Tasks <span>15 minutes</span></h3>
                <ul class="task_list">
                    <li class="complete">
                        <a>
                            <span class="radioLabel">Add your product catalog
                                <input type="radio" checked>
                                <span class="checkmark"></span>
                            </span>
                        </a>
                    </li>
                    <li class="complete">
                        <a>
                            <span class="radioLabel">Preview your shop page
                                <input type="radio" checked>
                                <span class="checkmark"></span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="radioLabel">Go live!
                                <input type="radio"> 
                                <span class="checkmark"></span>
                            </span>
                        </a>
                    </li>


                </ul>
            </div>
            <div class="right_bottom_fixed_sec">
            </div>
        </div>
    </div>
</div>