.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { line-height: 1.2; }
/* Common Style End */

.validate_errors { color: red; font-family: 'Futura' !important; font-size: 14px; font-weight: 200; }

.step_top { margin: 0 auto; padding: 0; width: 100%; }
.progressbar { counter-reset: step; list-style: none; margin: 0 0 40px 0; overflow: hidden; padding: 0; text-align: center; width: 100%; }
.progressbar li { color: rgba(57, 57, 57, 0.5); display: inline-block; float: none; font-family: 'Futura' !important; font-size: 16px; font-weight: 200; position: relative; text-align: center; width: 25%; }
.progressbar .complete { color: #000; }
.progressbar li:after { background: rgba(57, 57, 57, 0.5); content: ''; height: 2px; left: -35%; position: absolute; top: 15px; width: 70%; }
.progressbar .active:after { background-color: #000; }
.progressbar li:first-child:after { content: none; }
.progressbar li:before { background: #fff; border: 1px solid rgba(57, 57, 57, 0.5); border-radius: 100%; color: #000; content: counter(step); counter-increment: step; display: block; font-family: 'Futura' !important; font-size: 12px; font-weight: 500; line-height: 28px; margin: 0 auto 5px auto; text-align: center; width: 28px; }
.progressbar .active:before { background-color: #393939; border-color: #393939; color: #fff; }
.progressbar .complete:before { background-color: #393939; border-color: #393939; color: #fff; }
.store_info_tab { max-width: 370px; margin: 0 auto 0 auto; padding: 15px 0 40px 0; text-align: center; width: 100%; }
.store_info_tab h3 { color: #000; font-family: 'Futura' !important; font-size: 28px; font-weight: 500; margin: 25px 0 25px 0; }
.store_info_tab p { color: rgba(0, 0, 0, 0.5); font-family: 'Futura' !important; font-size: 16px; font-weight: 200; line-height: 22px; margin: 0 40px 40px 40px; }
.store_info_tab .bottomPara { color: #000; font-family: 'Futura' !important; font-size: 16px; font-weight: 200; margin: 0 0 0 0; }
.store_info_tab .bottomPara a { text-decoration: underline; }
.store_info_tab .urlList { list-style: none; margin: 0; padding: 0; width: 100%; }
.store_info_tab .urlList li { margin: 0 0 20px 0; padding: 0; position: relative; width: 100%; }
.store_info_tab .urlList li label { color: rgba(57, 57, 57, 0.5); font-family: 'Futura' !important; font-size: 16px; font-weight: 200; margin: 0 0 2px 0; padding: 0; text-align: left; width: 100%; }
.store_info_tab .urlList li .idSpan { color: rgba(57, 57, 57, 0.5); font-family: 'Futura' !important; font-size: 16px; font-weight: 200; height: 41px; line-height: 41px; position: absolute; right: 10px; top: 25px; }
.store_info_tab .urlList li .form-control { border: 1px solid rgba(57, 57, 57, 0.5); border-radius: 3px; color: #393939; height: 41px; line-height: 39px; padding: 0 10px 0 10px; }
.store_info_tab .urlList li .form-control:focus { box-shadow: none; }
.store_info_tab .urlList li .btn { background: #393939; border: none; height: 43px; font-family: 'Futura' !important; font-size: 18px; font-weight: 200; line-height: 43px; margin-top: 10px; padding: 0; width: 100%; }
.store_info_tab .urlList li .btn:hover { background: #000; }	
.store_info_tab .urlList li .btn:focus { box-shadow: none; }

/* Responsive Start */
@media screen and (max-width:991px) {
.store_info_tab { padding-left: 10px; padding-right: 10px; }
.store_info_tab p { margin-left: 0; margin-right: 0px; }	 
}
@media screen and (max-width:767px) { 
}
/* Responsive End */