<app-vendor-dashboard-header></app-vendor-dashboard-header>
<div class="dashboard_body">
  <app-vendor-side-menu></app-vendor-side-menu>
  <div class="middle_vendor_dasboard">
    <div class="middle_content">
      <p class="lookingGuidelinesPara">Listing face masks? Follow the <a>guidelines</a></p>
      <div class="headingBox">
        <div class="whiteHeadingBox">
          <h3>Account Settings</h3>
          <p>Your account information, payment details, and settings.</p>
          <ng-container *ngIf="!resendBtsDis">
            <div class="alert alert-warning" role="alert" *ngIf="verified != 1 || verified != '1'" >
                Please verify your Email.
                <a (click)="onResendEmailClick()">Resend email.</a>
            </div>
          </ng-container>
          <ng-container *ngIf="resendBtsDis">
              <div class="alert alert-warning" role="alert" *ngIf="verified != 1 || verified != '1'" >
                  Please verify your Email.
                  <a >sending email.</a>
              </div>
          </ng-container>
        </div>
      </div>
      <div class="account_setting_body">

          <div class="col-lg-6 brandInformationleft">
            <h4>Brand Information</h4>
            <ul class="row brandInfoFormList">
              <li class="col-lg-6">
                <label>Brand Name</label>

            </ul>
            <h4>Brand Information</h4>
            <ul class="row brandInfoFormList">
              <li class="col-lg-6">

              </li>
            </ul>
            <h4>Location</h4>
            <ul class="row brandInfoFormList">
              <li class="col-lg-6">
                <label>Products Made In</label>

              </li>
            </ul>
            <h4>Story</h4>
            <ul class="row brandInfoFormList">
              <li class="col-lg-6">

              </li>
              <li class="col-lg-6">
                <label>Values</label>
                <ul class="sub_product_list">
                  <li *ngFor="let item of tagsArray">
                    <div class="form-check">
                      <!-- <input [value]="item.value" checked (change)="tagsCheckboxChange($event)" type="checkbox" class="form-check-input" checked="checked" name="tag_shop_page" [ngModel]="tag_shop_page" #tag_shop_pageval='ngModel'> -->
                      <input [value]="item.value" [checked]="tag_shop_page.includes(item.value) == true" (change)="tagsCheckboxChange($event)" type="checkbox" class="form-check-input" checked="checked" name="tag_shop_page" >
                      <label class="form-check-label">{{item.name}}</label>
                    </div>
                  </li> 

          </div>
          <div class="col-lg-6 brandInformationRight">
            <div class="brandInformation_Smalldiv">
              <div class="show_upload_profile_img"><img src="{{profile_photo}}" alt="upload image" id="profile_img_show"> <a class="edit_upload_img" (click)="openUploadProfileModal(uploadContent2)"><img src="assets/images/account_settings_icon.svg" alt="edit icon"></a> </div>
              <input id="profile_img" type="hidden" alt="upload image" name="featured_image_hidden" #profileImgVal>
              <h3>Final Step! Review Your Store Information</h3>
              <p>Please review your profile information on the left side before submitting to the Bazar team.</p>
              <ul class="row vendorRegFormList">
                <li class="col-lg-6">
                  <button type="button" class="btn btn-primary back_btn back_btn27 mt-4">Back</button>
                </li>
                <li class="col-lg-6">
                </li>
              </ul>
            </div>
          </div>   
        </div>
      </form>
      </div>
    </div>
  </div>
</div>


<ng-template #uploadContent2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Reposition image</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="image-editor2">
      <div class="inputDiv">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary back_btn back_btn11" (click)="modal.dismiss('Cross click')"
     >Back</button>
    <button type="button" class="btn btn-primary common_btn next14 export" 
      (click)="modal.dismiss('Cross click')">Save &
      Continue</button>
  </div>
</ng-template>
