<app-header></app-header>
<!-- * * * * * * * * * * * Header End * * * * * * * * * * * -->

<div class="blogBanner" style="background-image: url(assets/images/about_us_banner.png);">
    <h1>About Us</h1>
</div>

<div class="container">
    <div class="row flex-col-column-reverse">
        <div class="col-md-6 col-sm-12 col-12 about_left_text">
            <h2>About BAZAR</h2>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                versions of Lorem Ipsum.</p>
            <span><strong>Lorem Ipsum</strong> is:</span>
            <ul>
                <li>simply dummy text of the printing and typesetting industry</li>
                <li>lorem Ipsum has been the industry's standard dummy text ever since the 1500s</li>
                <li>when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-12 col-12 about_right_img"><img src="assets/images/about-img.png" alt=""></div>
    </div>
    <ul class="row about_feature">
        <li class="col-md-3 col-sm-12 col-12">
            <div class="border_box">
                <h3>100 +</h3>
                <p>Lorem ipsum advalorem post ucundam uventutem</p>
            </div>
        </li>
        <li class="col-md-3 col-sm-12 col-12">
            <div class="border_box">
                <h3>1111 +</h3>
                <p>Lorem ipsum advalorem post ucundam uventutem</p>
            </div>
        </li>
        <li class="col-md-3 col-sm-12 col-12">
            <div class="border_box">
                <h3>+ 150%</h3>
                <p>Lorem ipsum advalorem post ucundam uventutem</p>
            </div>
        </li>
        <li class="col-md-3 col-sm-12 col-12">
            <div class="border_box">
                <h3>2 times</h3>
                <p>Lorem ipsum advalorem post ucundam uventutem</p>
            </div>
        </li>
    </ul>
</div>

<div class="gray_box">
    <div class="container">
        <h3>Our Mission</h3>
        <ul class="row about_mission_list d-none d-sm-flex">
            <li class="col-md-4 col-sm-12 col-12 white_box">
                <h4>Option 1</h4>
                <p>Lorem ipsum advalorem post ucundam uventutem, post malestam sinectutem</p>
            </li>
            <li class="col-md-4 col-sm-12 col-12 img_box"><img src="assets/images/about_img2.png" alt=""></li>
            <li class="col-md-4 col-sm-12 col-12 white_box">
                <h4>Option 2</h4>
                <p>Lorem ipsum advalorem post ucundam uventutem, post malestam sinectutem</p>
            </li>
            <li class="col-md-4 col-sm-12 col-12 img_box"><img src="assets/images/about_img3.png" alt=""></li>
            <li class="col-md-4 col-sm-12 col-12 white_box">
                <h4>Option 3</h4>
                <p>Lorem ipsum advalorem post ucundam uventutem, post malestam sinectutem</p>
            </li>
            <li class="col-md-4 col-sm-12 col-12 img_box"><img src="assets/images/about_img4.png" alt=""></li>
        </ul>
        <ul class="row about_mission_list d-block d-sm-none">
            <li class="col-md-4 col-sm-12 col-12 white_box">
                <h4>Option 1</h4>
                <p>Lorem ipsum advalorem post ucundam uventutem, post malestam sinectutem</p>
            </li>
            <li class="col-md-4 col-sm-12 col-12 img_box"><img src="assets/images/about_img2.png" alt=""></li>
            <li class="col-md-4 col-sm-12 col-12 white_box">
                <h4>Option 2</h4>
                <p>Lorem ipsum advalorem post ucundam uventutem, post malestam sinectutem</p>
            </li>
            <li class="col-md-4 col-sm-12 col-12 img_box"><img src="assets/images/about_img4.png" alt=""></li>
            <li class="col-md-4 col-sm-12 col-12 white_box">
                <h4>Option 3</h4>
                <p>Lorem ipsum advalorem post ucundam uventutem, post malestam sinectutem</p>
            </li>
            <li class="col-md-4 col-sm-12 col-12 img_box"><img src="assets/images/about_img3.png" alt=""></li>   
        </ul>
    </div>
</div>

<div class="about_quick_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-12 imgBox">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="homeAbout" role="tabpanel" aria-labelledby="homeAbout-tab"><img src="assets/images/about_img6.png" alt=""></div>
                    <div class="tab-pane fade" id="aboutManufacturers" role="tabpanel" aria-labelledby="aboutManufacturers-tab"><img src="assets/images/about_img7.png" alt=""></div>
                    <div class="tab-pane fade" id="aboutRetailers" role="tabpanel" aria-labelledby="aboutRetailers-tab"><img src="assets/images/about_img5.png" alt=""></div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-12">
                <ul class="nav nav-tabs about_quick_list"  role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="homeAbout-tab" data-bs-toggle="tab" data-bs-target="#homeAbout" type="button" role="tab" aria-controls="homeAbout" aria-selected="true">
                            Local brands
                            <span>Quisque rutrum. Aenean imperdi. Etiam ultricies nisi vel augue. Quisque rutrum. Aenean
                                imperdi. Etiam ultricies nisi vel augue. </span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="aboutManufacturers-tab" data-bs-toggle="tab" data-bs-target="#aboutManufacturers" type="button" role="tab" aria-controls="aboutManufacturers" aria-selected="true">
                            Local Manufacturers
                            <span>Quisque rutrum. Aenean imperdi. Etiam ultricies nisi vel augue. Quisque rutrum. Aenean
                                imperdi. Etiam ultricies nisi vel augue. </span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="aboutRetailers-tab" data-bs-toggle="tab" data-bs-target="#aboutRetailers" type="button" role="tab" aria-controls="aboutRetailers" aria-selected="true">
                            Retailers
                            <span>Quisque rutrum. Aenean imperdi. Etiam ultricies nisi vel augue. Quisque rutrum. Aenean
                                imperdi. Etiam ultricies nisi vel augue. </span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- * * * * * * * * * * * Banner Start * * * * * * * * * * * -->
<div class="local_banner" style="background-image: url(assets/images/bg-image.png);">
    <div class="white_banner_box">
        <h3>Are you ready for wholesale?</h3>
        <p>Reach new level in sales</p>
        <a class="btn btn-primary sell_on_bazar">Sell on Bazar</a>
        <a class="btn btn-primary sign_up_to_shop">Sign up to shop</a>
    </div>
</div>
<!-- * * * * * * * * * * * Banner End * * * * * * * * * * * -->

<app-footer></app-footer>