<div class="dashboard_body edit-order-dashboard_body">
    <div class="middle_vendor_dasboard">
      <div class="middle_content">
        <div class="headingBox">
          <div class="whiteHeadingBox">
            <p><a routerLink="/brand-orders">Back to Order</a></p>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <!-- <ng-container *ngIf="" ></ng-container> -->
              <div class="view-order-white" >
                <h3>1. Shipping Estimate</h3>
                <ng-container *ngIf="!enableEdit">
                  <a class="edit-link" style="cursor: pointer;" (click)="enableEdit = true" >Edit</a>
                  <p>
                    <i class="fa-regular fa-calendar"></i> We'll send you a reminder to ship on {{order_details?.display_shipping_date}}.</p>
                </ng-container>
                <ng-container *ngIf="enableEdit">
                  <div class="input-group">
                    <input readonly class="form-control" placeholder="yyyy-mm-dd" name="dp" [minDate]="minDate" ngbDatepicker #d="ngbDatepicker" (dateSelect)="onDateSelect($event)" name="product_deadline" [(ngModel)]="product_deadline" #product_deadlineVal (click)="d.toggle()" >
                    <!-- <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i class="fa-solid fa-calendar-days"></i></button> -->
                  </div>
                </ng-container>
              </div>
              
              <ng-container *ngIf="order_details?.brand_country == '' || order_details?.brand_country == null" >
                <ng-container *ngIf="!shipFromEdit">
                  <div class="view-order-white" style="cursor: pointer;" (click)="shipFromEdit = true; pSlipEdit = false; sInfoEdit = false;">
                    <h3>2. Ship from address</h3>
                    <a class="edit-link">Edit</a>
                  </div>
                </ng-container>
                <ng-container *ngIf="shipFromEdit && (order_details?.brand_country == '' || order_details?.brand_country == null)" >
                <!-- <ng-container *ngIf="shipFromEdit"> -->
                  <form class="ShippingForm" #checkOutForm="ngForm" (ngSubmit)="checkOutForm.form.valid && sendcheckOutForm(checkOutForm)" novalidate>
                    <div class="view-order-white">
                      <h3>2. Ship from address</h3>
                        <ul class="form-list">
                          <li>
                            <label>Name</label>
                            <!-- <input class="InputTxt" type="text" hidden placeholder="user_id" name="user_id" [(ngModel)]="user_id" #user_idval='ngModel'/> -->
                            <input class="InputTxt" type="text" hidden placeholder="ord_no" name="ord_no" [(ngModel)]="ord_no" #ord_noval='ngModel' />
                            <input class="InputTxt" type="text" hidden name="ship_date" [(ngModel)]="ship_date"  />
                            <input class="InputTxt" type="text" placeholder="Name"  name="brand_name" [(ngModel)]="brand_name" #nameval='ngModel' maxlength="255" required pattern="^[\sa-zA-Zء-ي]*$"/>
                            <span class="validate_errors"
                              *ngIf="(nameval.touched || checkOutForm.submitted) && nameval.errors?.['required']">
                              This field is required
                            </span>
                            <span class="validate_errors"
                              *ngIf="(nameval.touched || checkOutForm.submitted) && nameval.errors?.['pattern']">
                              Name is not valid.
                            </span>
                          </li>
                          <li> 
                            <label>Country</label>
                            <select class="InputTxt" name="brand_country" [(ngModel)]="brand_country" #countryval='ngModel' required (change)="onChangeCountry($event)">
                              <option [ngValue]="null" hidden ></option>
                              <option *ngFor="let item of countriesArray" value="{{item.id}}">{{item.country_name}}</option>
                            </select>
                            <span class="validate_errors"
                              *ngIf="(countryval.touched || checkOutForm.submitted) && countryval.errors?.['required']">
                              This field is required
                            </span>
                          </li>
                          <li>
                            <label>Street and number</label>
                            <input class="InputTxt" type="text" placeholder="Street and Number" name="brand_address1" [(ngModel)]="brand_address1" #street_noval='ngModel' required pattern="^[#/.0-9a-zA-Z\s,-]+$" />
                            <span class="validate_errors"
                              *ngIf="(street_noval.touched || checkOutForm.submitted) && street_noval.errors?.['required']">
                              This field is required
                            </span>
                            <span class="validate_errors"
                              *ngIf="(street_noval.touched || checkOutForm.submitted) && street_noval.errors?.['pattern']">
                              This field is not valid.
                            </span>
                          </li>
                          <li>
                            <label>Apt, Suite (Optional)</label>
                            <input class="InputTxt" type="text" placeholder="Apt, Suite (Optional)" name="brand_address2" [(ngModel)]="brand_address2" #apt_noval='ngModel' pattern="^[#/.0-9a-zA-Z\s,-]+$" />
                            <span class="validate_errors"
                              *ngIf="(apt_noval.touched || checkOutForm.submitted) && apt_noval.errors?.['pattern']">
                              This field is not valid.
                            </span>
                          </li>
                          <li>
                            <label>State/Province</label>
                            <select class="InputTxt" name="brand_state" [(ngModel)]="brand_state" #stateval='ngModel' required (change)="onChangeState($event)" >
                              <option value="" hidden></option>
                              <option *ngFor="let item of stateArray" value="{{item.id}}">{{item.state_name}}</option>
                            </select>
                            <span class="validate_errors"
                              *ngIf="(stateval.touched || checkOutForm.submitted) && stateval.errors?.['required']">
                              This field is required 
                            </span>
                          </li>
                          <li class="SplitList">
                            <label>Town/Locality</label>
                            <select class="InputTxt" name="brand_town" [(ngModel)]="brand_town" #townval='ngModel' required>
                              <option value="" hidden></option>
                              <option *ngFor="let item of cityArray" value="{{item.id}}">{{item.city_name}}</option>
                          </select>
                          <span class="validate_errors"
                            *ngIf="(townval.touched || checkOutForm.submitted) && townval.errors?.['required']">
                            This field is required
                          </span>
                          </li>
                          <li class="SplitList FltRht">
                            <label>Zip</label>
                            <input class="InputTxt" type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 190 && event.keyCode !== 187" onKeyPress="if(this.value.length==10) return false;" maxlength="10" placeholder="" name="brand_post_code" [(ngModel)]="brand_post_code" #pincodeval='ngModel' required >
                            <span class="validate_errors"
                              *ngIf="(pincodeval.touched || checkOutForm.submitted) && pincodeval.errors?.['required']">
                              This field is required
                            </span>
                          </li>
                          <li>
                            <label>Phone number</label>
                            <input class="InputTxt" type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 190 && event.keyCode !== 187" onKeyPress="if(this.value.length==10) return false;" maxlength="10" placeholder="" name="brand_phone" [(ngModel)]="brand_phone" #phone_numberval='ngModel' required >
                            <span class="validate_errors"
                              *ngIf="(phone_numberval.touched || checkOutForm.submitted) && phone_numberval.errors?.['required']">
                              This field is required
                            </span>
                          </li>
                          <li>
                            <input *ngIf="!btnDis" name="" type="submit" value="Confirm Address" />
                            <input *ngIf="btnDis" name="" type="submit" value="Please wait..." disabled />
                          </li>
                        </ul>
                    </div>
                  </form>
                </ng-container>
              </ng-container>
              
              <ng-container *ngIf="!pSlipEdit" >
                <div class="view-order-white" style="cursor: pointer;" (click)="shipFromEdit = false; pSlipEdit = true; sInfoEdit = false;">
                  <h3>3. Packing Slip</h3>
                </div>
              </ng-container>
              <ng-container *ngIf="pSlipEdit" >
                <div class="view-order-white" >
                  <h3>3. Packing Slip</h3>

                  <div class="row">
                    <div class="col-md-6 print-img-sec">
                      <img src="assets/images/print-preview-img.jpg" alt="img">
                      <span class="block-text-center"><a routerLink="/print-packing-slip/{{ord_no}}" target="_blank" class="view-full-size">View full size</a></span>
                    </div>
                    <div class="col-md-6 print-text-sec">
                      <p>Please include this packing slip in your shipment. Thank you!</p>
                      <span class="block-text-center">
                        <button class="btn btn-primary" #printBtn printSectionId="print-section" ngxPrint ><i class="fa-solid fa-print"></i> Print</button></span>
                      <!-- <span class="block-text-center"><a href="" class="skip-now-link">Skip for now</a></span> -->
                    </div>
                  </div>

                  <div id="print-section" style="display: none; " > 
                  <!-- <div id="print-section" >  -->
                    <!-- <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="display: none;" style="page-break-after: always;"> -->
                    <table class="table-content" width="600"  border="0" cellspacing="0" cellpadding="0" align="center" >
                        <tr>
                          <td bgcolor="#fff" style="padding: 25px 0 25px 0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td valign="middle"><img src="assets/images/logo.png" alt="" border="0" style="display: inline-block; height: auto; vertical-align: middle; width: 105px;" /></td>
                                <td align="right" valign="middle"><h2 style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 28px; font-weight: normal; margin: 0; text-transform: uppercase;">Packing Slip</h2></td>
                              </tr>
                            </table></td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle" style="padding: 0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td style="color: rgba(0, 0, 0, 0.5); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; padding: 0 10px 8px 10px;">For</td>
                                <td style="color: rgba(0, 0, 0, 0.5); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; padding: 0 10px 8px 10px;">Order #s</td>
                                <td style="color: rgba(0, 0, 0, 0.5); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; padding: 0 0 8px 10px;">&nbsp;</td>
                              </tr>
                              <tr>
                                <td style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: 28px; padding: 0 10px 20px 0;" valign="top"><strong>{{allDetails?.brand}}</strong></td>
                                <td style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: 28px; padding: 0 10px 20px 10px;" valign="top"><strong>{{allDetails?.retailer_name}}</strong><br />
                                  {{order_details?.name}}<br />
                                  {{order_details?.address1}}<br />
                                  {{order_details?.address2 ? order_details?.address2 : ''}}<br />
                                  {{order_details?.country}}<br />
                                  Tel: {{order_details?.phone}}</td>
                                <td style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: 28px; padding: 0 0 20px 10px;" valign="top"><strong>{{order_details?.order_number}}</strong><br />
                                  <span style="color: rgba(0, 0, 0, 0.5); font-size: 14px;"><strong>Order Date</strong></span><br />
                                  <span style="font-size: 14px;">{{order_details?.created_date}}</span><br />
                                  <span style="color: rgba(0, 0, 0, 0.5); font-size: 14px;"><strong>Ship Date</strong></span><br />
                                  <span style="font-size: 14px;">{{order_details?.ship_date}}</span><br /></td>
                              </tr>
                            </table></td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle" style="padding: 0;">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th style="border-bottom: 1px solid rgba(0, 0, 0, 0.25); color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; padding: 0 10px 8px 0;">SKU</th>
                                <th style="border-bottom: 1px solid rgba(0, 0, 0, 0.25); color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; padding: 0 10px 8px 10px;">Item</th>
                                <th style="border-bottom: 1px solid rgba(0, 0, 0, 0.25); color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; padding: 0 10px 8px 10px;">Qty.</th>
                                <th style="border-bottom: 1px solid rgba(0, 0, 0, 0.25); color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; padding: 0 10px 8px 10px;">WSP</th>
                                <th style="border-bottom: 1px solid rgba(0, 0, 0, 0.25); color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; padding: 0 0 8px 10px;" align="right">Subtotal</th>
                              </tr>
                            <tr *ngFor="let childItem of ordersArray">
                              <td style="border-bottom: 1px solid rgba(0, 0, 0, 0.25); color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; padding: 8px 10px 8px 0;" valign="top">{{childItem?.sku}}</td>
                            <td style="border-bottom: 1px solid rgba(0, 0, 0, 0.25); color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; padding: 8px 10px 8px 10px;" valign="top">{{childItem?.product_name}}</td>
                            <td style="border-bottom: 1px solid rgba(0, 0, 0, 0.25); color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; padding: 8px 10px 8px 10px;" valign="top">{{childItem?.quantity}}</td>
                            <td style="border-bottom: 1px solid rgba(0, 0, 0, 0.25); color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; padding: 8px 10px 8px 10px;" valign="top">${{childItem?.product_price}}<br />
                              <!-- <span style="color: rgba(0, 0, 0, 0.5); display: block; font-size: 12px; font-weight: bold;">SRP &#163;26.94</span> -->
                            </td>
                            <td style="border-bottom: 1px solid rgba(0, 0, 0, 0.25); color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; padding: 8px 0 8px 10px;" align="right" valign="top">$ {{childItem?.amount}}</td>
                            </tr>
                            <tr>
                              <td colspan="2" valign="top" style="padding: 10px 10px 0 0;">
                                  <h4 style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; margin: 0 0 0 0;">Item Subtotals</h4>
                                  <p style="color: rgba(0, 0, 0, 0.5); font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; margin: 0 0 0 0;">Pricing and subtotals do not reflect promotions, credits, or taxes</p>
                              </td>
                              <td style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; padding: 10px 10px 0 10px;" valign="top"><strong>{{allDetails?.total_qty}}</strong></td>
                              <td style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; padding: 10px 10px 0 10px;" valign="top">&nbsp;</td>
                              <td style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; padding: 10px 0 0 10px;" align="right" valign="top"><strong>${{allDetails?.total_price}}</strong></td>
                            </tr>
                          </table>
                        </td>
                        </tr>
                        <tr>
                            <td style="padding: 45px 0 0 0;">
                              <p style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; margin: 0 0 30px 0;"><strong>Damage or missing Items:</strong> Damage or missing Items must be reported within 14 daysof receiving your shipment. To report damage or missing Items. go to your order on bazar.com and select Report Damage/Missing Items.</p>
                              <p style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; margin: 0 0 30px 0;"><strong>Returns:</strong> To be eligible for returns. each Item must be (1) unopened &amp; unused (2) in origle packaging (3) free of any price tags or stickers (4) In your first order with the brand. To initiate a return, go to your on bazar.com and select Return Item. Some exclusions apply to our return policy, Please refer to our Help Center for more Information about returns or reporting missing or damaged Items at www.zar.com/support</p>
                          </td>
                        </tr>
                    </table>
                    <!-- <button [printStyle]="{'.table-content': {'page-break-after': 'always'}}" #printBtn printSectionId="print-section" ngxPrint style="display: none;">print</button>  -->
                  </div>
                  <button [printStyle]="{'.table-content': {'page-break-after': 'always'}}" #printBtn printSectionId="print-section" ngxPrint style="display: none; " >print</button> 
                  <!-- <a routerLink="/print-packing-slip/{{ord_no}}" >View full size</a> -->
                </div>
              </ng-container>

              <ng-container *ngIf="!sInfoEdit" >
                <div class="view-order-white" style="cursor: pointer;" (click)="shipFromEdit = false; pSlipEdit = false; sInfoEdit = true;">
                  <h3>3. Invoice</h3>
                </div>
              </ng-container>
              <ng-container *ngIf="sInfoEdit" >
                <div class="view-order-white" >
                  <h3>3. Invoice</h3>

                  <div class="row">
                    <div class="col-md-6 print-img-sec">
                      <img src="assets/images/invoice-print-preview.jpg" alt="img">
                      <span class="block-text-center"><a routerLink="/print-invoice/{{ord_no}}" target="_blank" class="view-full-size">View full size</a></span>
                    </div>
                    <div class="col-md-6 print-text-sec">
                      <p>You can print invoice by clicking print button. Thank you.</p>
                      <span class="block-text-center">
                        <button class="btn btn-primary" #printInvoiceBtn printSectionId="print-invoice-section" ngxPrint ><i class="fa-solid fa-print"></i> Print</button></span>
                      <!-- <span class="block-text-center"><a href="" class="skip-now-link">Skip for now</a></span> -->
                    </div>
                  </div>

                  <div id="print-invoice-section" style="display: none; " >
                    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr>
                        <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <!-- <td align="left" valign="top"><h3 style="color: #111118; font-family: Arial, Helvetica, sans-serif; font-size: 2em; font-weight: bold; margin: 0 0 10px 0;">Invoice #bi_m7rhgfvwb5</h3> -->
                              <td align="left" valign="top"><h3 style="color: #111118; font-family: Arial, Helvetica, sans-serif; font-size: 2em; font-weight: bold; margin: 0 0 10px 0;">Invoice #</h3>
                                <h4 style="color: #111118; font-family: Arial, Helvetica, sans-serif; font-size: 1em; font-weight: bold; margin: 0 0 10px 0;">{{allDetails?.brand}}</h4>
                                <p style="color: #111118; font-family: Arial, Helvetica, sans-serif; font-size: .7em; font-weight: normal; margin: 0;">Date Period: {{order_details?.created_date}}</p></td>
                              <td align="right" valign="top"><p style="color: #111118; font-family: Arial, Helvetica, sans-serif; font-size: .7em; font-weight: normal; line-height: 2em; margin: 18px 0 0 0; text-align: right;">{{allDetails?.retailer_name}}<br />
                                {{order_details?.country}}<br />
                                {{order_details?.address1}}<br />
                                {{order_details?.address2 ? order_details?.address2 : ''}}<br />
                                {{order_details?.post_code ? order_details?.post_code : ''}}<br />
                                {{order_details?.phone}}</p></td>
                            </tr>
                          </table></td>
                      </tr>
                      <tr>
                        <td align="left" valign="top" style="padding: 40px 0 0 0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <thead>
                              <tr>
                                <th align="left" style="border-bottom: 1px solid #000; color: #111118; font-family: Arial, Helvetica, sans-serif; font-size: .7em; font-weight: bold; padding: 0 0 12px 0;" width="60%">Description</th>
                                <th align="left" style="border-bottom: 1px solid #000; color: #111118; font-family: Arial, Helvetica, sans-serif; font-size: .7em; font-weight: bold; padding: 0 0 12px 0;">Item total</th>
                                <th align="right" style="border-bottom: 1px solid #000; color: #111118; font-family: Arial, Helvetica, sans-serif; font-size: .7em; font-weight: bold; padding: 0 0 12px 0;">Subtotal</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let childItem of ordersArray">
                                <td align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: .7em; font-weight: normal; padding: 15px 0 15px 0;" width="60%">{{childItem?.product_name}}</td>
                                <td align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: .7em; font-weight: normal; padding: 15px 0 15px 0;">$ {{childItem?.amount}}</td>
                                <td align="right" style="font-family: Arial, Helvetica, sans-serif; font-size: .7em; font-weight: normal; padding: 15px 0 15px 0;">$ {{childItem?.amount}}</td>
                              </tr>
                              <tr>
                                <td colspan="3" align="left"><h3 style="color: #111118; font-family: Arial, Helvetica, sans-serif; margin: 25px 0 0 0;">Additional</h3></td>
                              </tr>
                              <tr>
                                <td align="left" style="color: #111118; font-family: Arial, Helvetica, sans-serif; font-size: .7em; font-weight: normal; padding: 15px 0 15px 0;" width="60%">Shipping</td>
                                <td align="left" style="color: #111118; font-family: Arial, Helvetica, sans-serif; font-size: .7em; font-weight: normal; padding: 15px 0 15px 0;">free</td>
                                <td align="right">&nbsp;</td>
                              </tr>
                              <tr>
                                <td align="left" style="color: #111118; font-family: Arial, Helvetica, sans-serif; font-size: .7em; font-weight: normal; padding: 15px 0 15px 0;" width="60%">Import duties</td>
                                <td align="left" style="color: #111118; font-family: Arial, Helvetica, sans-serif; font-size: .7em; font-weight: normal; padding: 15px 0 15px 0;">free</td>
                                <td align="right">&nbsp;</td>
                              </tr>
                            </tbody>
                          </table></td>
                      </tr>
                    </table>
                    <!-- <button [printStyle]="{'.table-content': {'page-break-after': 'always'}}" #printInvoiceBtn printSectionId="print-invoice-section" ngxPrint style="display: none;">print</button>  -->
                  </div>
                  <button [printStyle]="{'.table-content': {'page-break-after': 'always'}}" #printInvoiceBtn printSectionId="print-invoice-section" ngxPrint style="display: none; " >print</button> 
                  <!-- <a routerLink="/print-packing-slip/{{ord_no}}" >View full size</a> -->
                </div>
              </ng-container>
              <!-- <div class="view-order-white" (click)="shipFromEdit = false; pSlipEdit = false; sInfoEdit = true;">
                  <h3>Shipping Info</h3>
                  <ng-container *ngIf="sInfoEdit" >

                  </ng-container>
              </div> -->

            </div>
            <div class="col-md-6">
              <div class="right-view-order-white">
                <h3>Order #{{order_details?.order_number}}</h3>
                <p>Placed {{order_details?.created_date}}</p>
                <P>Update {{order_details?.updated_date}}</P>
                <span class="status-span">{{order_details?.status}}</span>
                <ul class="edit-order-list" *ngIf="allDetails?.order?.status === 'new'">
                  <li><a routerLink="/edit-order/{{ord_no}}">Edit order</a></li>
                  <li *ngIf="totalProQty != 1 || totalProQty != '1' ">
                    <a (click)="openSplitOrderModal(splitOrderContent)">Split Order</a>
                  </li>
                  <li *ngIf="order_details?.status != 'cancelled' " >
                    <a (click)="openCancelOrderModal(cancelOrderContent)">Cancel Order</a>
                  </li>
                </ul>
                <div class="border-bottom"></div>
                <h3><a>{{allDetails?.brand}}</a></h3>
                <h5 *ngIf="allDetails?.related_orders?.length > 0">Related orders: <a *ngFor="let item of allDetails?.related_orders" routerLink="/view-order/{{item?.order_number}}">#{{item?.order_number}}</a></h5>
                <div class="border-bottom"></div>
                <div class="table-box">
                  <table class="table">
                    <tr>
                      <td>
                        <h4>Customer Information</h4>
                        <p>{{allDetails?.retailer_name}}<br />+{{allDetails?.retailer_phone}}</p>
                      </td>
                      <!-- <td align="right">
                        <h4>Relationship</h4>
                        <p>
                          Marketplace 25% commission<br />Not right?
                          <a>Request to update</a>
                        </p>
                      </td> -->
                    </tr>
                  </table>
                </div>
                <div class="border-bottom"></div>
                
                <div class="row">
                  <div class="col-md-6">
                    <h4>Ship to</h4>
                    <!-- <a class="copy-link">Copy</a> -->
                    <p>
                      {{order_details?.address1}}<br />
                      <ng-container *ngIf="order_details?.brand_address2">
                        {{order_details?.brand_address2 ? order_details?.brand_address2 : ''}}<br />
                      </ng-container>
                      {{order_details?.country}}<br />
                      {{order_details?.phone}}
                    </p>
                  </div>
                
                  <ng-container *ngIf="order_details?.brand_country != '' && order_details?.brand_country != null" >
                    <div class="col-md-6">
                      <h4>Ship from</h4>
                      <!-- <a class="copy-link">Copy</a> -->
                      <p>
                        {{order_details?.brand_address1}}<br />
                        <ng-container *ngIf="order_details?.brand_address2">
                          {{order_details?.brand_address2 ? order_details?.brand_address2 : ''}}<br />
                        </ng-container>
                        {{order_details?.brand_country_text}}<br />
                        {{order_details?.brand_phone}}
                      </p>
                    </div>
                  </ng-container>
                </div>

                <div class="border-bottom"></div>
                <h4>Order Summary</h4>
                <table class="table total-table">
                  <tr>
                    <th>Item Subtotal</th>
                    <th>Promotion</th>
                    <th>Shipping</th>
                    <th>Item Total</th>
                    <th>Payment method</th>
                  </tr>
                  <tr>
                    <td>${{order_details && order_details.sub_total}}</td>
                    <td>${{order_details && order_details.promotion_amount}}</td>
                    <td>${{order_details && order_details.shipping_amount}}</td>
                    <td>${{order_details && order_details.total_amount}}</td>
                    <td>{{order_details.payment_method ? order_details.payment_method : '-'}}</td>
                  </tr>
                </table>
                <!-- <p>Shop Wide Promotions</p>
                <p>
                  Offered by Bazar Direct Reward:
                  <span class="red-span">$55.68 of entire order</span>
                </p> -->
                <div class="border-bottom"></div>
                <h4>Item Details</h4>
                <!-- <a class="copy-link">Report unavailiable items</a> -->
                <div class="border-bottom"></div>
                <ul class="row item-details-list" *ngFor="let item of ordersArray; let i = index;">
                  <li class="col-md-4">
                    <img [src]="item.product_image" alt="" />
                  </li>
                  <li class="col-md-8">
                    <h4><a>{{item?.product_name}}</a></h4>
                    <!-- <h5>SKU AAA234</h5> -->
                    <table class="table">
                      <tr>
                        <th>Qty</th>
                        <th>WS Price</th>
                        <th>Status</th>
                      </tr>
                      <tr>
                        <td>{{item?.quantity}}</td>
                        <td>${{item?.product_price}}</td>
                        <td>{{item?.status}}</td>
                        <!-- <td>Waiting to Ship</td> -->
                      </tr>
                      <!-- <tr>
                        <th colspan="3">Weight</th>
                      </tr>
                      <tr>
                        <td colspan="3">80.00 lb</td>
                      </tr> -->
                    </table>

                    <ul class="item-details-list">
                      <li>
                        <span>Qty</span>
                        {{item?.quantity}}
                      </li>
                      <li>
                        <span>WS Price</span>
                        ${{item?.product_price}}
                      </li>
                      <li>
                        <span>Status</span>
                        {{item?.status}}
                      </li>
                      <!-- <li>
                        <span>Weight</span>
                        80.00 lb
                      </li> -->
                    </ul>
                  </li>
                </ul>
                <div class="border-bottom"></div>
                <h4>Return Item Details</h4>
                <!-- <a class="copy-link">Copy</a> -->
                <ng-container *ngIf="allDetails?.returns?.length > 0">
                  <div class="border-bottom"></div>
                  <ng-container *ngFor="let item of allDetails?.returns;">
                    <div class="item-details-list">
                      <ul class="item-create-status-list">
                          <li>
                              <label>Created date</label>
                              <h5>{{item?.created_at}}</h5>
                          </li>
                          <li>
                              <label>Shipping date</label>
                              <h5>{{item?.shipping_date}}</h5>
                          </li>
                          <li>
                              <label>Feedback</label>
                              <h5>{{item?.feedback}}</h5>
                          </li>
                          <li>
                            <label>Status</label>
                            <h5>{{item?.status == '0' ? 'Pending request' : item?.status == '1' ? 'Accepted' : ''}}</h5>
                          </li>
                      </ul>
                    </div>
                    <a *ngIf="item?.status == 0 && !acceptBtnDis" class="accept-link" (click)="onReturnAccept();">Accept</a>
                    <a *ngIf="item?.status == 0  && acceptBtnDis" class="accept-link">Please wait...</a>
                    <div class="clearfix"></div>
                    <ul class="row item-details-list" *ngFor="let childItem of item?.items; let i = index;">
                      <li class="col-md-4">
                        <img [src]="childItem.product_image" alt="" />
                      </li>
                      <li class="col-md-8">
                        <h4><a>{{childItem?.product_name}}</a></h4>
                        <table class="table">
                          <tr>
                            <th>Qty</th>
                            <th>WS Price</th>
                            <th>Reason</th>
                          </tr>
                          <tr>
                            <td>{{childItem?.quantity}}</td>
                            <td>${{childItem?.price}}</td>
                            <td>{{childItem?.reason}}</td>
                            <!-- <td>Waiting to Ship</td> -->
                          </tr>
                          <!-- <tr>
                            <th colspan="3">Weight</th>
                          </tr>
                          <tr>
                            <td colspan="3">80.00 lb</td>
                          </tr> -->
                        </table>
    
                        <ul class="item-details-list">
                          <li>
                            <span>Qty</span>
                            {{item?.quantity}}
                          </li>
                          <li>
                            <span>WS Price</span>
                            ${{item?.product_price}}
                          </li>
                          <li>
                            <span>Status</span>
                            {{item?.status}}
                          </li>
                          <!-- <li>
                            <span>Weight</span>
                            80.00 lb
                          </li> -->
                        </ul>
                      </li>
                    </ul>
                    <div class="item-details-list">
                      <ul style="list-style: none; padding: 0;">
                          <li *ngFor="let childPolItem of item?.policies; let i = index;">
                              <h5>{{i+1 +')'}} {{childPolItem}}</h5>
                          </li>
                      </ul>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6" *ngIf="order_details?.status == 'new' || order_details?.status == 'invoiced'">
                <button *ngIf="!confirmBtnDis" (click)="confirmOrder()" class="edit-order-confirm-order-btn">Confirm order</button>
                <button *ngIf="confirmBtnDis" disabled class="edit-order-confirm-order-btn">Confirm order</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Split-Order-Modal -->
  <ng-template #splitOrderContent let-modal>
    <div class="modal-header">
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <h3>Split order</h3>
      <h4>Select the item you'd like to move into a new order</h4>
      <div class="table_sec">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Original</th>
              <th scope="col">New order</th>
              <th scope="col" style="text-align: center">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of ordersArray; let index = index;">
              <td>
                <div class="imgDiv">
                  <img [src]="item?.product_image" alt="" />
                </div>
                <h4><a>{{item?.product_name}}</a></h4>
                <!-- <p>SKU:AA234</p> -->
              </td>
              <td>{{item?.quantity}}</td>
              <td>
                <!-- <span class="quantitySpan">
                  <input type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 190 && event.keyCode !== 187" class="form-control" name="" value="4" />
                  units</span> -->
                  <select class="form-select" name="new_order" (change)="onNewOrderChange($event , item, item?.id)" >
                    <option *ngFor="let item of qtyCountArray(item?.quantity); let i = index;" [value]="i">{{i}}</option>
                  </select>
              </td>
              <td>
                  <div class="form-check">
                      <input type="checkbox" class="form-check-input" (change)="onMoveAll($event, index, item?.quantity, item?.id)">
                      <label class="form-check-label">Move all</label>
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <span class="validate_errors" *ngIf="splitOrderError">{{splitOrderError}}</span>
      <input type="button" name="" value="Cancel" class="btn btn-primary draft_btn" (click)="modal.dismiss()">
      <input *ngIf="!btnDis" type="submit" name="" value="Create new order" class="btn btn-primary publish_btn" (click)="createSplitOrder()" >
      <input *ngIf="btnDis" type="submit" name="" value="Create new order" class="btn btn-primary publish_btn" disabled >
    </div>
  </ng-template>
  
  <!-- Cancel-Order-Modal -->
  <ng-template #cancelOrderContent let-modal>
    <div class="modal-header">
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <h3>Cancel order #{{order_details?.order_number}}</h3>
      <h4>Tell Bazar why you're canceling:</h4>
      <ul class="formOne">
        <li *ngFor="let item of cancelReasonsArray">
          <span class="radioLabel">{{item.value}}
            <input type="radio" [value]="item.value" name="radio_value" [(ngModel)]="radio_value" />
            <span class="checkmark"></span>
          </span>
        </li>
        <li>
          <label class="form-label">Tell the retailer why you're cancelling (required):</label>
          <textarea class="form-control form-textarea" rows="3" name="can_reason" [(ngModel)]="can_reason" ></textarea>
          <span *ngIf="cancelOrderError" class="validate_errors">{{cancelOrderError}}</span>
        </li>
        <li>
          <button *ngIf="!btnDis" type="submit" class="btn btn-primary continue_btn fullBtn" (click)="cancelOrder()">Cancel Order</button>
          <button *ngIf="btnDis" type="submit" class="btn btn-primary continue_btn fullBtn" disabled>Cancel Order</button>
        </li>
      </ul>
    </div>
  </ng-template>
  