<app-header></app-header>
<!-- * * * * * * * * * * * Header End * * * * * * * * * * * -->

<div class="blogBanner" style="background-image: url(assets/images/contact_banner.png);">
    <h1>Contact Us</h1>
</div>

<div class="container contact_container">
    <h3>Contact form</h3>
    <p>Please contact us if you have any inquiries</p>
    <ul class="cFrom">
        <li><input class="form-control" type="text" placeholder="Name"></li>
        <li><input class="form-control" type="tel" placeholder="Phone Number"></li>
        <li><input class="form-control" type="email" placeholder="Phone Number"></li>
        <li><textarea class="form-control" rows="3" placeholder="Your Inquiry"></textarea></li>
        <li><button type="submit" class="btn btn-primary">Send</button></li>
    </ul>
</div>

<app-footer></app-footer>
