.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { line-height: 1.2; }
/* Common Style End */

.blogBanner { align-items: center; background-position: center; background-repeat: no-repeat; background-size: cover; /*border-top: 1px solid #393939;*/ display: flex; justify-content: center; min-height: 250px; margin: 149px 0 60px 0; padding: 0; position: relative; width: 100%; }
.blogBanner:after { background-color: rgba(247, 248, 250, 0.5); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; }
.blogBanner h1 { color: #393939; font-family: 'Futura' !important; font-size: 40px; font-weight: 500; margin: 0; position: relative; text-align: center; z-index: 1; }
.about_left_text h2 { background: url(../../assets/images/border_bottom_bg.png) no-repeat 0 bottom; color: #393939; font-family: 'Futura' !important; font-size: 32px; font-weight: 500; margin: 0 0 25px 0; padding: 0 0 15px 0; }
.contact_container { background: rgba(247, 248, 250, 0.67); margin-bottom: 60px; max-width: 730px; padding-bottom: 40px; padding-top: 40px; }
.contact_container h3 { color: #393939; font-family: 'Futura' !important; font-size: 48px; font-weight: 500; margin: 0 0 40px 0; text-align: center; }
.contact_container p { color: #000000; font-family: 'Futura' !important; font-size: 18px; font-weight: 200; margin: 0 0 40px 0; text-align: center; }
.cFrom { list-style: none; margin: 0; padding: 0 190px 0 190px; width: 100%; }
.cFrom li { margin: 0 0 20px 0; padding: 0; width: 100%; }
.cFrom li .form-control { border: 1px solid rgba(57, 57, 57, 0.5); border-radius: 3px; color: #000000; height: 41px; font-family: 'Futura' !important; font-size: 16px; font-weight: 200; padding: 10px 15px; }
.cFrom li textarea { height: 90px !important; }
.cFrom li .btn { background: #393939; border-color: #393939; border-radius: 3px; font-family: 'Futura' !important; font-size: 18px; font-weight: 200; height: 43px; width: 100%; }
.cFrom li .btn:focus { box-shadow: none; }

/* Responsive Start */
@media screen and (max-width:991px) {
.blogBanner h1 { font-size: 32px; }	
.contact_container h3 { font-size: 32px; margin-bottom: 20px; }
.cFrom { padding-left: 30px; padding-right: 30px; }
}
/* Responsive End */