<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
      <td bgcolor="#fff" style="padding: 25px 0 25px 0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="middle"><img src="assets/images/logo.png" alt="" border="0" style="display: inline-block; height: auto; vertical-align: middle; width: 105px;" /></td>
            <td align="right" valign="middle"><h2 style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 28px; font-weight: normal; margin: 0;">PICK LIST</h2></td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td align="center" valign="middle" style="padding: 0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="color: rgba(0, 0, 0, 0.5); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; padding: 0 10px 8px 0;">For</td>
            <td style="color: rgba(0, 0, 0, 0.5); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; padding: 0 10px 8px 10px;">Order #s</td>
            <td style="color: rgba(0, 0, 0, 0.5); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; padding: 0 0 8px 10px;">&nbsp;</td>
          </tr>
          <tr>
            <td style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; padding: 0 10px 20px 0;"><strong>My Amarant</strong></td>
            <td style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; padding: 0 10px 20px 10px;"><strong>672NJV8XS5</strong></td>
            <td style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; padding: 0 0 20px 10px;">&nbsp;</td>
          </tr>
          <tr>
            <th style="border-bottom: 1px solid rgba(0, 0, 0, 0.25); color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; padding: 0 10px 8px 0;">SKU</th>
            <th style="border-bottom: 1px solid rgba(0, 0, 0, 0.25); color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; padding: 0 10px 8px 10px;">Item</th>
            <th style="border-bottom: 1px solid rgba(0, 0, 0, 0.25); color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; padding: 0 0 8px 10px; text-align: right;" align="right">Qty.</th>
          </tr>
          <tr>
            <td style="border-bottom: 1px solid rgba(0, 0, 0, 0.25); color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; padding: 10px 10px 8px 0;">AA234</td>
            <td style="border-bottom: 1px solid rgba(0, 0, 0, 0.25); color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; padding: 10px 10px 8px 10px;">Christmas Wreath In Red Colors</td>
            <td style="border-bottom: 1px solid rgba(0, 0, 0, 0.25); color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; padding: 10px 0 8px 10px;" align="right">4</td>
          </tr>
        </table></td>
    </tr>
  </table>
  