<app-header></app-header>
<!-- * * * * * * * * * * * Header End * * * * * * * * * * * -->

<div class="border_top"></div>
<div class="container">
    <nav aria-label="breadcrumb" class="breadCrumbNav">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>BLOG & NEWS</a></li>
            <li class="breadcrumb-item active" aria-current="page">FOR BRANDS</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-7 left_blog_category">
            <div class="left_blog_category_content">
                <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails">
                    <img src="assets/images/blog_category_img1.png" alt="">
                    <h3>6 ADVICES HOW TO RUN WHOLESALE FURNITURE BUSINESS</h3>
                    <span class="dateSpan">25 Jan 2022</span>
                    <p>For many business owners, a new year brings a new set of goals for the months ahead. We asked
                        ambitious
                        members of our retailer and brand community what they hope to achieve in the coming year—and
                        more
                        importantly, how they plan to tackle those goals...</p>
                </a>
            </div>
        </div>
        <div class="col-md-5 right_blog_category">
            <ul class="similar_cat">
                <li>
                    <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails" class="row">
                        <div class="col-md-4 imgDiv"><img src="assets/images/blog_cat_img2.png" alt=""></div>
                        <div class="col-md-8 textDiv">
                            <h3>6 ADVICES HOW TO RUN WHOLESALE BUSINESS</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>Expert explain how to grow wholesale in our times</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails" class="row">
                        <div class="col-md-4 imgDiv"><img src="assets/images/blog_cat_img3.png" alt=""></div>
                        <div class="col-md-8 textDiv">
                            <h3>6 ADVICES HOW TO RUN WHOLESALE BUSINESS</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>Expert explain how to grow wholesale in our times</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails" class="row">
                        <div class="col-md-4 imgDiv"><img src="assets/images/blog_cat_img4.png" alt=""></div>
                        <div class="col-md-8 textDiv">
                            <h3>6 ADVICES HOW TO RUN WHOLESALE BUSINESS</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>Expert explain how to grow wholesale in our times</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="top_tabs_cat">
        <div class="row">
            <div class="col-md-6 left_top_tabs_cat">
                <h3>ARICLES</h3>
            </div>
            <div class="col-md-6 right_top_tabs_cat">
                <ul class="nav nav-tabs justify-content-end" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#allCat"
                            type="button" role="tab" aria-controls="allCat" aria-selected="true">All</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="articles-tab" data-bs-toggle="tab" data-bs-target="#articlesCat"
                            type="button" role="tab" aria-controls="articlesCat" aria-selected="false">Articles</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="news-tab" data-bs-toggle="tab" data-bs-target="#newsCat"
                            type="button" role="tab" aria-controls="newsCat" aria-selected="false">News</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content blogTabContent">
        <div class="tab-pane fade show active" id="allCat" role="tabpanel" aria-labelledby="all-tab">
            <ul class="row tab_cat_lists">
                <li class="col-md-4">
                    <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails">
                        <div class="imgDiv"><img src="assets/images/blog_cat_img5.png" alt=""></div>
                        <div class="textDiv">
                            <h3>6 ADVICES HOW TO RUN WHOLESALE FURNITURE BUSINESS</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>For many business owners, a new year brings a new set of goals for the months ahead...
                            </p>
                        </div>
                    </a>
                </li>
                <li class="col-md-4">
                    <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails">
                        <div class="imgDiv"><img src="assets/images/blog_cat_img6.png" alt=""></div>
                        <div class="textDiv">
                            <h3>6 ADVICES HOW TO RUN WHOLESALE FURNITURE BUSINESS</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>For many business owners, a new year brings a new set of goals for the months ahead...
                            </p>
                        </div>
                    </a>
                </li>
                <li class="col-md-4">
                    <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails">
                        <div class="imgDiv"><img src="assets/images/blog_cat_img7.png" alt=""></div>
                        <div class="textDiv">
                            <h3>6 ADVICES HOW TO RUN WHOLESALE FURNITURE BUSINESS</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>For many business owners, a new year brings a new set of goals for the months ahead...
                            </p>
                        </div>
                    </a>
                </li>
                <li class="col-md-4">
                    <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails">
                        <div class="imgDiv"><img src="assets/images/blog_cat_img8.png" alt=""></div>
                        <div class="textDiv">
                            <h3>6 ADVICES HOW TO RUN WHOLESALE FURNITURE BUSINESS</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>For many business owners, a new year brings a new set of goals for the months ahead...
                            </p>
                        </div>
                    </a>
                </li>
                <li class="col-md-4">
                    <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails">
                        <div class="imgDiv"><img src="assets/images/blog_cat_img9.png" alt=""></div>
                        <div class="textDiv">
                            <h3>6 ADVICES HOW TO RUN WHOLESALE FURNITURE BUSINESS</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>For many business owners, a new year brings a new set of goals for the months ahead...
                            </p>
                        </div>
                    </a>
                </li>
                <li class="col-md-4">
                    <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails">
                        <div class="imgDiv"><img src="assets/images/blog_cat_img10.png" alt=""></div>
                        <div class="textDiv">
                            <h3>6 ADVICES HOW TO RUN WHOLESALE FURNITURE BUSINESS</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>For many business owners, a new year brings a new set of goals for the months ahead...
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-pane fade" id="articlesCat" role="tabpanel" aria-labelledby="articles-tab">
            <ul class="row tab_cat_lists">
                <li class="col-md-4">
                    <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails">
                        <div class="imgDiv"><img src="assets/images/blog_cat_img5.png" alt=""></div>
                        <div class="textDiv">
                            <h3>6 ADVICES HOW TO RUN WHOLESALE FURNITURE BUSINESS</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>For many business owners, a new year brings a new set of goals for the months ahead...
                            </p>
                        </div>
                    </a>
                </li>
                <li class="col-md-4">
                    <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails">
                        <div class="imgDiv"><img src="assets/images/blog_cat_img6.png" alt=""></div>
                        <div class="textDiv">
                            <h3>6 ADVICES HOW TO RUN WHOLESALE FURNITURE BUSINESS</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>For many business owners, a new year brings a new set of goals for the months ahead...
                            </p>
                        </div>
                    </a>
                </li>
                <li class="col-md-4">
                    <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails">
                        <div class="imgDiv"><img src="assets/images/blog_cat_img7.png" alt=""></div>
                        <div class="textDiv">
                            <h3>6 ADVICES HOW TO RUN WHOLESALE FURNITURE BUSINESS</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>For many business owners, a new year brings a new set of goals for the months ahead...
                            </p>
                        </div>
                    </a>
                </li>
                <li class="col-md-4">
                    <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails">
                        <div class="imgDiv"><img src="assets/images/blog_cat_img8.png" alt=""></div>
                        <div class="textDiv">
                            <h3>6 ADVICES HOW TO RUN WHOLESALE FURNITURE BUSINESS</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>For many business owners, a new year brings a new set of goals for the months ahead...
                            </p>
                        </div>
                    </a>
                </li>
                <li class="col-md-4">
                    <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails">
                        <div class="imgDiv"><img src="assets/images/blog_cat_img9.png" alt=""></div>
                        <div class="textDiv">
                            <h3>6 ADVICES HOW TO RUN WHOLESALE FURNITURE BUSINESS</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>For many business owners, a new year brings a new set of goals for the months ahead...
                            </p>
                        </div>
                    </a>
                </li>
                <li class="col-md-4">
                    <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails">
                        <div class="imgDiv"><img src="assets/images/blog_cat_img10.png" alt=""></div>
                        <div class="textDiv">
                            <h3>6 ADVICES HOW TO RUN WHOLESALE FURNITURE BUSINESS</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>For many business owners, a new year brings a new set of goals for the months ahead...
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-pane fade" id="newsCat" role="tabpanel" aria-labelledby="news-tab">
            <ul class="row tab_cat_lists">
                <li class="col-md-4">
                    <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails">
                        <div class="imgDiv"><img src="assets/images/blog_cat_img5.png" alt=""></div>
                        <div class="textDiv">
                            <h3>6 ADVICES HOW TO RUN WHOLESALE FURNITURE BUSINESS</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>For many business owners, a new year brings a new set of goals for the months ahead...
                            </p>
                        </div>
                    </a>
                </li>
                <li class="col-md-4">
                    <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails">
                        <div class="imgDiv"><img src="assets/images/blog_cat_img6.png" alt=""></div>
                        <div class="textDiv">
                            <h3>6 ADVICES HOW TO RUN WHOLESALE FURNITURE BUSINESS</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>For many business owners, a new year brings a new set of goals for the months ahead...
                            </p>
                        </div>
                    </a>
                </li>
                <li class="col-md-4">
                    <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails">
                        <div class="imgDiv"><img src="assets/images/blog_cat_img7.png" alt=""></div>
                        <div class="textDiv">
                            <h3>6 ADVICES HOW TO RUN WHOLESALE FURNITURE BUSINESS</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>For many business owners, a new year brings a new set of goals for the months ahead...
                            </p>
                        </div>
                    </a>
                </li>
                <li class="col-md-4">
                    <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails">
                        <div class="imgDiv"><img src="assets/images/blog_cat_img8.png" alt=""></div>
                        <div class="textDiv">
                            <h3>6 ADVICES HOW TO RUN WHOLESALE FURNITURE BUSINESS</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>For many business owners, a new year brings a new set of goals for the months ahead...
                            </p>
                        </div>
                    </a>
                </li>
                <li class="col-md-4">
                    <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails">
                        <div class="imgDiv"><img src="assets/images/blog_cat_img9.png" alt=""></div>
                        <div class="textDiv">
                            <h3>6 ADVICES HOW TO RUN WHOLESALE FURNITURE BUSINESS</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>For many business owners, a new year brings a new set of goals for the months ahead...
                            </p>
                        </div>
                    </a>
                </li>
                <li class="col-md-4">
                    <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails">
                        <div class="imgDiv"><img src="assets/images/blog_cat_img10.png" alt=""></div>
                        <div class="textDiv">
                            <h3>6 ADVICES HOW TO RUN WHOLESALE FURNITURE BUSINESS</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>For many business owners, a new year brings a new set of goals for the months ahead...
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<app-footer></app-footer>