<!-- * * * * * * * * * * * Home Banner * * * * * * * * * * * -->
<div class="home_banner">
	<a class="home_logo" href=""><img src="assets/images/bazar.svg" alt="Home Logo" /></a>
	<div class="left_banner">
    	<div class="inner_left_banner_text">
    		<h4>MIDDLE EAST</h4>
    		<h3>Whole<span>sale</span></h3>
        </div>
    </div>
    <div class="right_banner">
		<h3 class="mobile_view_show heading3">MIDDLE EAST</h3>
		<h4 class="mobile_view_show heading4">Wholesale</h4>
        <p class="bannerBottomPara">Please choose one of the options to proceed</p>
    </div>
</div>
<!-- * * * * * * * * * * * Home Banner End * * * * * * * * * * * -->

<!-- * * * * * * * * * * * Home Footer * * * * * * * * * * * -->
<div class="home_footer">
	<div class="home_left_footer">
    	<div class="home_left_footer_text">
    		<ul class="footerFeatureList">
                <li>Other 20,000  brands</li>
                <li>Net 60 terms with all brands</li>
                <li>Unique products curated for your store</li>
            </ul>
        </div>
    </div>
    <div class="home_right_footer">
    	<div class="home_right_footer_text">
        	<ul class="footerLinkList">
                <li><a routerLinkActive="active" routerLink="/after-login-local-brands" href="#/after-login-local-brands">Local brands</a></li>
                <li><a routerLinkActive="active" routerLink="/after-login-local-manufacturers" href="#/after-login-local-manufacturers">Local Manufacturers</a></li>
                <li><a routerLinkActive="active" routerLink="/after-login-international-brands" href="#/after-login-international-brands">International Brands</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- * * * * * * * * * * * Home Footer End * * * * * * * * * * * -->
