<nav class="navbar navbar-expand-lg navbar-light bg-light header after-loginHeader">
    <div class="header_top">
        <div class="container-fluid">
            <a class="navbar-brand" href=""><img src="assets/images/logo.png" alt="logo"></a>
            <form class="me-auto top_search">
                <input class="form-control me-2" type="search" placeholder="Search for products or brands" aria-label="Search">
            </form>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="rightHeader">
                <ul class="compare_list">
                    <li><a>Compare my selection</a></li>
                </ul>
                <div class="mobile_bottom_btn_link">
                    <ul class="after_login_top_nav">
                        <li><a class="" routerLink="/wishlist"><i class="fa-regular fa-heart"></i></a></li>
                        <li>
                            <a class="" (clickOutside)="onClickedOutside($event)" (click)="toggleShow()"><i class="fa-regular fa-circle-user"></i></a>
                            <div class="dropdownBox" *ngIf="isShown">
                                <ul class="dropdownLinkList">
                                    <li><a routerLink="/profile">Profile</a></li> 
                                    <li><a (click)="logout()">Log out</a></li> 
                                </ul>
                            </div>
                        </li>
                        <li><a class="" routerLink="/cart" ><i class="fa-solid fa-bag-shopping"></i>{{cartCount ? cartCount : 0}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header_bottom">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <!-- <li class="nav-item">
                        <a class="nav-link">All categories</a>
                    </li> -->
                    <li class="nav-item" *ngFor="let item of allCategories; let i = index;" >
                        <a class="nav-link" routerLink="/category/{{item?.title}}">{{item?.title}}</a>
                        <div class="dropDown_menu">
                            <div class="container-fluid">
                                <ul class="sub_cat_list">
                                    <li *ngFor="let subCat of item?.categories"><a routerLink="/category/{{item?.title}}/subcategory/{{subCat?.title}}">{{subCat?.title}}</a>
                                        <div class="sub_sub_cat_dropdown">
                                            <ul class="sub_sub_cat">
                                                <li *ngFor="let subChildCat of subCat?.sub_categories">
                                                    <a routerLink="/category/{{item?.title}}/subcategory/{{subCat?.title}}/{{subChildCat?.title}}">{{subChildCat?.title}}</a>
                                                </li>
                                            </ul>
                                            <div class="cat_img_sec">
                                                <img [src]="subCat?.image" alt="">
                                                <h3><a routerLink="/category/{{item?.title}}/subcategory/{{subCat?.title}}">Shop All {{subCat?.title}}</a></h3>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="mobile_drop_down">
                    <div class="accordion menuAccordion" id="menuAccordion">
                        <!-- <div class="accordion-item">
                            <h2 class="accordion-header"><a class="accordion-button collapsed no_dropdown" type="button">All categories</a></h2>
                        </div> -->
                        <div class="accordion-item" *ngFor="let item of allCategories; let i = index;">
                            <h2 class="accordion-header fashionMenu" [id]="'fashionMenu' + i"><a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#fashion'+i" aria-expanded="true" [attr.aria-controls]="'fashion'+i">{{item?.title}}</a>
                            </h2>
                            <div [id]="'fashion' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'fashionMenu'+i"
                                data-bs-parent="#menuAccordion">
                                <div class="accordion-body">
                                    <div class="accordion fashionAccordion" id="fashionAccordion">
                                        <div class="accordion-item" *ngFor="let subCat of item?.categories; let subCatInd = index;">
                                            <h2 class="accordion-header collapsed" [id]="'AllFashionMenu' + i + subCatInd" ><a class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#allFashion' + i + subCatInd" aria-expanded="true" [attr.aria-controls]="'allFashion' + i + subCatInd">{{subCat?.title}}</a></h2>
                                            <div [id]="'allFashion' + i + subCatInd" class="accordion-collapse collapse" [attr.aria-labelledby]="'AllFashionMenu' + i + subCatInd" data-bs-parent="#fashionAccordion">
                                                <div class="accordion-body">
                                                    <ul class="sub_sub_cat">
                                                        <li *ngFor="let subChildCat of subCat?.sub_categories"><a routerLink="/category/{{item?.title}}/subcategory/{{subCat?.title}}/{{subChildCat?.title}}">{{subChildCat?.title}}</a></li>
                                                    </ul>
                                                    <div class="cat_img_sec"> <img [src]="subCat?.image" alt="">
                                                        <h3><a routerLink="/category/{{item?.title}}/subcategory/{{subCat?.title}}">Shop All {{subCat?.title}}</a></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- User-Log-In-Modal -->
<ng-template #userLogInContent let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <h3>Welcome back!</h3>
        <p>Thousands of products await</p>
            <ul class="formOne">
            <form #emailForm="ngForm" (ngSubmit)="emailForm.form.valid && send1stSignInData()" novalidate>
                <li *ngIf="log1">
                    <input required email type="text" class="form-control" placeholder="E-mail" name="email_address" [(ngModel)]="email_address" #email_addressVal="ngModel">
                    <span class="validate_errors"
                        *ngIf="(email_addressVal.touched || emailForm.submitted) && email_addressVal.errors?.['required']">
                        This field is required
                    </span>
                    <span class="validate_errors"
                        *ngIf="(email_addressVal.touched || emailForm.submitted) && email_addressVal.errors?.['email']">
                        Enter an valid email
                    </span>
                    <button type="submit" class="btn btn-primary continue_btn fullBtn">Continue</button>
                </li>
            </form>
            <form #signInFrom="ngForm" (ngSubmit)="signInFrom.form.valid && sendSignInData(signInFrom)" novalidate>
                <li *ngIf="log2">
                    <input hidden type="text" name="email_address" [(ngModel)]="email_address">
                    <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password" #passwordVal="ngModel">
                    <span class="validate_errors">{{validateError}}</span>
                    <button type="button" class="btn btn-primary backButton" (click)="backFirstFunction()">Back</button>
                    <!-- <button type="submit" *ngIf="!spinnerShow" class="btn btn-primary">Continue</button> -->
                    <button type="" class="btn btn-primary common_btn next2" disabled style="position:relative;" *ngIf="spinnerShow"><img src="assets/images/spinner.gif" style="width: 100px; height: 100px; left: 140px;bottom: -28px;position: absolute;"></button>
                    <a class="btn btn-primary" (click)="modal.dismiss('Cross click')" routerLink="/after-login-home">Get started</a>
                </li>
            </form>
            </ul>
            <div class="clearfix"></div>
        <p class="sign_in_para">New to Bazar? <a (click)="modal.dismiss('Cross click')"
                (click)="openUserSignUpModal(content)">Create an account</a></p>
        <ul class="social_login">
            <li><a class="social_link"><span class="social_span"><img src="assets/images/facebook_icon.png"
                            alt="facebook login">Continue with facebook</span></a></li>
            <li><a class="social_link"><span class="social_span"><img src="assets/images/google_icon.png"
                            alt="facebook login">Continue with google</span></a></li>
        </ul>
    </div>
</ng-template>

<!-- User-Sign-Up-Modal -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title"><img src="assets/images/bazar_modal_logo.png" alt="logo"></h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <h3>Shop wholesale, online</h3>
        <p>Purchase from over 40.000 uniquue vendors. Sign up for free</p>
        <form>
            <ul class="formOne">
                <li>
                    <input type="email" class="form-control" placeholder="Your business e-mail">
                </li>
                <li>
                    <!--<button type="submit" class="btn btn-primary">Get started</button>-->
                    <a routerLinkActive="active" routerLink="/userRegistration" href="#/userRegistration" class="btn btn-primary" (click)="modal.dismiss('Cross click')">Get started</a>
                </li>
            </ul>
        </form>
        <p class="sign_in_para"><a (click)="modal.dismiss('Cross click')" (click)="openUserLogInModal(userLogInContent)">Sign in</a> or <a (click)="modal.dismiss('Cross click')" (click)="openVendorSignUpModal(vendorsRegistration)">Sell on Bazar</a></p>
    </div>
    <div class="modal-footer">
        <p>By signing up for Bazar, you are aagreeing to our <a>Terms</a> and <a>Privacy policy</a></p>
    </div>
</ng-template>

<!-- Vendors-Registration-Modal -->
<ng-template #vendorsRegistration let-modal > 
    <div class="modal-header">
        <h4 class="modal-title"><img src="assets/images/bazar_modal_logo.png" alt="logo"></h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <h3>Shop wholesale, online</h3>
        <p>Purchase from over 40.000 uniquue vendors. Sign up for free</p>
       
        <form [formGroup]="vendorRegForm" (ngSubmit)="submitEmail(vendorRegForm)"> 
            <ul class="formOne">
                <li>
                    <input required type="email" [(ngModel)]="email" formControlName="vendorEmail"  class="form-control" placeholder="Your business e-mail">
                </li>
                <li>
                    <!-- <span class="validate_errors">{{validateError}}</span> -->
                    <div class="validate_errors" *ngIf="submitted && vendorRegForm.controls['vendorEmail'].invalid">
                        <strong>Email-id Required</strong> Please enter Valid Email-id.
                    </div>
                    <button  type="submit" class="btn btn-primary" >Get started</button>
                </li>
            </ul>
        </form>
        <p class="sign_in_para"><a (click)="modal.dismiss('Cross click')" (click)="openUserLogInModal(userLogInContent)">Sign in</a> or <a (click)="modal.dismiss('Cross click')" (click)="openUserLogInModal(userLogInContent)">Sell on Bazar</a>
        </p>
    </div>
    <div class="modal-footer">
        <p>By signing up for Bazar, you are aagreeing to our <a>Terms</a> and <a>Privacy policy</a></p>
    </div>
</ng-template>