<app-header></app-header>
<!-- * * * * * * * * * * * Header End * * * * * * * * * * * -->

<div class="blogBanner" style="background-image: url(assets/images/blog_banner.png);">
    <h1>BLOG & NEWS</h1>
</div>
<div class="container">
    <ul class="row finalList">
        <li class="col-lg-4">
            <a>
                <h4>for <strong>Local Brands</strong></h4>
                <div class="imgDiv"><img src="assets/images/vendor_registration_local_brands.png" alt=""></div>
                <div class="text_div">
                    <h5>Name 1</h5>
                    <p>Some short explanation</p>
                </div>
            </a>
        </li>
        <li class="col-lg-4">
            <a>
                <h4>for <strong>International Brands</strong></h4>
                <div class="imgDiv"><img src="assets/images/vendor_registration_international_brands.png" alt="">
                </div>
                <div class="text_div">
                    <h5>Name 2</h5>
                    <p>Some short explanation</p>
                </div>
            </a>
        </li>
        <li class="col-lg-4">
            <a>
                <h4>for <strong>Local Manufacturers</strong></h4>
                <div class="imgDiv"><img src="assets/images/vendor_registration_local_manufacturers.png" alt="">
                </div>
                <div class="text_div">
                    <h5>Name 3</h5>
                    <p>Some short explanation</p>
                </div>
            </a>
        </li>
    </ul>
</div>

<app-footer></app-footer>