.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { line-height: 1.2; }
/* Common Style End */

.blogBanner { align-items: center; background-position: center; background-repeat: no-repeat; background-size: cover; /*border-top: 1px solid #393939;*/ display: flex; justify-content: center; min-height: 250px; margin: 149px 0 60px 0; padding: 0; position: relative; width: 100%; }
.blogBanner:after { background-color: rgba(247, 248, 250, 0.5); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; }
.blogBanner h1 { color: #393939; font-family: 'Futura' !important; font-size: 40px; font-weight: 500;  margin: 0; position: relative; text-align: center; z-index: 1; }
.finalList { list-style: none; margin-bottom: 200px; margin-top: 40px; padding: 0; }
.finalList li { }
.finalList li a { cursor: pointer; display: block; }
.finalList li h4 { color: #000; font-family: 'Futura' !important; font-size: 22px; font-weight: 200; margin: 0 0 25px 0; text-align: center; }
.finalList li h4 strong { font-family: 'Futura' !important; font-weight: 500; }
.finalList li .imgDiv { margin: 0; padding: 0; position: relative; width: 100%; }
.finalList li .imgDiv img { height: auto; width: 100%; }
.finalList li .imgDiv::after { background-color: #fff; content: ""; height: 100%; left: 0; opacity: 0.4; position: absolute; top: 0; transition: all .5s ease-in-out; width: 100%; }
.finalList li:hover .imgDiv::after { opacity: 0; }
.finalList li .text_div { margin: 0; padding: 15px; width: 100%; }
.finalList li:hover .text_div { background: rgba(156,156,156,0.11); }
.finalList li .text_div h5 { color: #000; font-family: 'Futura' !important; font-size: 24px; font-weight: 500; margin: 0 0 10px 0; }
.finalList li .text_div p { color: #000; font-family: 'Futura' !important; font-size: 18px; font-weight: 200; line-height: normal; margin: 0; max-width: none; text-align: left; }
@media screen and (max-width:991px) { 
.finalList li { margin-bottom: 40px; }
}
@media screen and (max-width:767px) { 
.finalList { margin-bottom: 60px; }
}