<app-vendor-dashboard-header></app-vendor-dashboard-header>
<div class="dashboard_body">
    <app-vendor-side-menu></app-vendor-side-menu>
    <div class="middle_vendor_dasboard">
        <div class="middle_content">
            <p class="lookingGuidelinesPara">Listing face masks? Follow the <a>guidelines</a></p>
            <div class="headingBox">
                <div class="whiteHeadingBox">
                    <h3>Bulk Edit Products</h3>
                    <p><a>Products</a></p>
                </div>
            </div>
            <div class="bulk-product-body">
                <h3>Select products to take an action</h3>
                <div class="table_sec">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Image</th>
                                <th scope="col">Product name</th>
                                <th scope="col">Product type</th>
                                <th scope="col" style="text-align: center;">Price wholesale</th>
                                <th scope="col" style="text-align: center;">Price retail</th>
                                <th scope="col" style="text-align: center;">Case quantity</th>
                                <th scope="col" style="text-align: center;">Minimum order quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="assets/images/product_thumb.png" alt=""></td>
                                <td>Christmas whreath</td>
                                <td>
                                    <select class="form-select select_from" aria-label="Default select example">
                                        <option selected>Sort: Whreat</option>
                                        <option value="1">Kitchen spoon</option>
                                        <option value="2">Kitchen plate</option>
                                        <option value="3">Kitchen appliance</option>
                                        <option value="4">Bakery staff</option>
                                    </select>
                                </td>
                                <td style="text-align: center;">$11.70</td>
                                <td style="text-align: center;">$11.70</td>
                                <td style="text-align: center;">4</td>
                                <td style="text-align: center;">4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>