<ng-container *ngIf="role == 'brand'">
    <app-vendor-header></app-vendor-header>
</ng-container>
<ng-container *ngIf="role == 'retailer'">
    <app-after-login-header></app-after-login-header>
</ng-container>
<ng-container *ngIf="role != 'retailer' && role != 'brand' ">
    <app-header [currentUrl]="currentUrl"></app-header> 
</ng-container>
<!-- * * * * * * * * * * * Header End * * * * * * * * * * * -->

<!-- * * * * * * * * * * * Banner Start * * * * * * * * * * * -->
<div class="local_banner" style="background-image: url(assets/images/local-brands-image-min.png);">
    <div class="white_banner_box">
        <h3>{{localBannerHeading}}</h3>
        <p>{{localBannerPara}}</p>
        <ng-container *ngIf="role == null">
            <a class="btn btn-primary sell_on_bazar" (click)="openUserLogInModal(userLogInContent)"><span>Sell on Bazar <img src="assets/images/right-arrows-black.png" alt="" class="black_arrow"></span></a>
            <a class="btn btn-primary sign_up_to_shop" routerLink="/userRegistration"><span>Sign up to shop <img src="assets/images/right-arrows-white.png" alt="" class="white_arrow"></span></a>
        </ng-container>
    </div>
</div>
<!-- * * * * * * * * * * * Banner End * * * * * * * * * * * -->

<!-- * * * * * * * * * * * Common Section Start * * * * * * * * * * * -->
<div class="comn_Sec">
    <div class="comn_Sec_left_footer"> 
        <div class="comn_Sec_left_footer_text">
            <h3>{{localCommonHeading}}</h3>
            <h4>{{localCommonSubHeading}}</h4>
        </div>
    </div>
    <div class="comn_Sec_right_footer">
        <div class="comn_Sec_right_footer_text">
            <ul class="comn_Sec_footer_list">
                <li *ngFor="let commonArrays of commonArray">
                    <img src="{{commonArrays.imgPath}}" alt="image" />
                    <p>{{commonArrays.textPath}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="comn_Sec">
    <div class="container">
        <div class="afterLoginGrayBox">
            <h3>Local Brands</h3>
            <a class="shopLink">Shop it</a>
        </div>
        <div class="row" *ngIf="brandList?.length <= 4 " >
            <div class="col-lg-3 withoutCarousel" *ngFor="let brand of brandList">
                <div class="category_box" routerLink="/brand/{{brand?.brand_key}}" style="cursor: pointer;" >
                    <div class="img_div">
                        <img src="{{brand?.brand_logo}}" alt="">
                    </div>
                    <div class="text_div">
                        <h3>{{brand?.brand_name}}</h3>
                        <!-- <h4>{{localMiddleArrays.priceText}}</h4>
                        <h5>{{localMiddleArrays.discountText}}</h5> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="carouselSec" *ngIf="brandList?.length > 4">
            <owl-carousel-o [options]="topCustomOptions1">
                <ng-template carouselSlide *ngFor="let brand of brandList">
                    <div class="category_box" routerLink="/brand/{{brand?.brand_key}}" style="cursor: pointer;" >
                        <div class="img_div">
                            <img src="{{brand?.brand_logo}}" alt="">
                        </div>
                        <div class="text_div">
                            <h3>{{brand?.brand_name}}</h3>
                            <!-- <h4>{{localMiddleArrays.priceText}}</h4>
                            <h5>{{localMiddleArrays.discountText}}</h5> -->
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
<!-- * * * * * * * * * * * Common Section End * * * * * * * * * * * -->

<!-- * * * * * * * * * * * Common-Explore-Cetagory Section Start * * * * * * * * * * * -->
<div class="comn_explore_cat">
    <div class="container">
        <h3>Explore Categories</h3>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="local-brands" role="tabpanel" aria-labelledby="local-manufacturers-tab">
                <div class="container">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide *ngFor="let item of featuredCategoryList">
                            <div class="category_box">
                                <div class="category_box_inner">
                                    <a routerLink="{{item?.cat_type == 'main-category' ? '/category/' + item?.title : item?.cat_type == 'category' ? '/category/' + item?.main_category + '/subcategory/' + item?.title : '/category/' + item?.main_category + '/subcategory/' + item?.category + '/' + item?.title}}">
                                        <div class="img_div">
                                            <img src="{{item?.image}}" alt="">
                                        </div>
                                    </a>
                                    <a routerLink="{{item?.cat_type == 'main-category' ? '/category/' + item?.title : item?.cat_type == 'category' ? '/category/' + item?.main_category + '/subcategory/' + item?.title : '/category/' + item?.main_category + '/subcategory/' + item?.category + '/' + item?.title}}">
                                        <div class="text_div">
                                            <h3>{{item?.title}}</h3>
                                            <!-- <h3>
                                                <a *ngIf="item?.cat_type == 'main-category'" routerLink="/category/{{item?.title}}">{{item?.title}}</a>
                                                <a *ngIf="item?.cat_type == 'category'" routerLink="/category/{{item?.main_category}}/subcategory/{{item?.title}}">{{item?.title}}</a>
                                                <a *ngIf="item?.cat_type == 'sub-category'" routerLink="/category/{{item?.main_category}}/subcategory/{{item?.category}}/{{item?.title}}">{{item?.title}}</a>
                                            </h3> -->
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- * * * * * * * * * * * Common-Explore-Cetagory Section End * * * * * * * * * * * -->

<!-- * * * * * * * * * * * Common-New-Bazar Section start * * * * * * * * * * * -->
<div class="new_bazar_section">
    <div class="container">
        <h3>New to Bazar</h3>
        <owl-carousel-o [options]="customOptions4">
            <ng-template carouselSlide *ngFor="let brand of newBrandList">
                <div class="category_box" routerLink="/brand/{{brand?.brand_key}}" style="cursor: pointer;" >
                    <div class="img_div">
                        <img src="{{brand?.brand_logo}}" alt="">
                    </div>
                    <div class="text_div">
                        <h3>{{brand?.brand_name}}</h3>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
<!-- * * * * * * * * * * * Common-New-Bazar Section end * * * * * * * * * * * -->

<!-- * * * * * * * * * * * Common-clients-Says Section start * * * * * * * * * * * -->
<div class="gray_clients__says">
    <div class="container">
        <owl-carousel-o [options]="customOptions5">
            <ng-template carouselSlide *ngFor="let item of testimonilasList">
                <div class="client_box">
                    <img src="{{item?.image}}" alt="">
                    <h4>{{item?.message}}</h4>
                    <h5>{{item?.name}}</h5>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
<!-- * * * * * * * * * * * Common-clients-Says Section end * * * * * * * * * * * -->

<!-- * * * * * * * * * * * Common-clients-Says Section start * * * * * * * * * * * -->
<div class="trending_on_bazar">
    <div class="container">
        <h3>Trending on Bazar</h3>
        <div class="row">
            <ul class="trending_list">
                <li>
                    <div class="imgDiv"><img src="" alt=""></div>
                    <h4></h4>
                </li> 
                <li *ngFor="let trendItem of trendingCategoriesList">
                    <a routerLink="{{trendItem?.cat_type == 'main-category' ? '/category/' + trendItem?.title : trendItem?.cat_type == 'category' ? '/category/' + trendItem?.main_category + '/subcategory/' + trendItem?.title : '/category/' + trendItem?.main_category + '/subcategory/' + trendItem?.category + '/' + trendItem?.title}}">
                        <div class="imgDiv"><img src="{{trendItem?.image}}" alt=""></div>
                        <h4>{{trendItem?.title}}</h4>
                    </a>
                </li> 
            </ul>
        </div>
    </div>
</div>
<!-- * * * * * * * * * * * Common-clients-Says Section end * * * * * * * * * * * -->

<!-- * * * * * * * * * * * Common-clients-Says Section start * * * * * * * * * * * -->
<div class="about_bazar_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text_div">
                <h3><span>Why</span> Bazar?</h3>
                <p>Made for your home and for your wellness</p>
                <ul>
                    <li *ngFor="let bazarListArrays of bazarListArray" [innerHtml]="bazarListArrays.textContent"></li>
                </ul>
                <div class="btn_center" *ngIf="role == null">
                    <a class="btn btn btn-primary sell_bazar" (click)="openUserLogInModal(userLogInContent)"><span>Sell on Bazar <img src="assets/images/right-arrows-black.png" alt="" class="black_arrow"></span></a>
                    <a class="btn btn btn-primary sign_up_to_shop" routerLink="/userRegistration"><span>Sign up to shop <img src="assets/images/right-arrows-white.png" alt="" class="white_arrow"></span></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="imgDiv"><img src="assets/images/young-pretty-modern-muslim-woman-hijab-working-laptop-office-room-education-online-(1).jpg" alt=""></div>
            </div>
        </div>
    </div>
</div>
<!-- * * * * * * * * * * * Common-clients-Says Section end * * * * * * * * * * * -->

<!-- * * * * * * * * * * * Common-Local-Brands Section start * * * * * * * * * * * -->
<div class="new_bazar_section">
    <div class="container">
        <h3>Explore Local Brands</h3>
        <div class="row" *ngIf="brandList?.length <= 4 " >
            <div class="col-lg-3 withoutCarousel" *ngFor="let brand of brandList">
                <div class="category_box" routerLink="/brand/{{brand?.brand_key}}" style="cursor: pointer;" >
                    <div class="img_div">
                        <img src="{{brand?.brand_logo}}" alt="">
                    </div>
                    <div class="text_div">
                        <h3>{{brand?.brand_name}}</h3>
                        <!-- <h4>{{localMiddleArrays.priceText}}</h4>
                        <h5>{{localMiddleArrays.discountText}}</h5> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="carouselSec" *ngIf="brandList?.length > 4">
            <owl-carousel-o [options]="localcarousel2">
                <ng-template carouselSlide *ngFor="let brand of brandList">
                    <div class="category_box" routerLink="/brand/{{brand?.brand_key}}" style="cursor: pointer;" >
                        <div class="img_div">
                            <img src="{{brand?.brand_logo}}" alt="">
                        </div>
                        <div class="text_div">
                            <h3>{{brand?.brand_name}}</h3>
                            <!-- <h4>{{localMiddleArrays.priceText}}</h4>
                            <h5>{{localMiddleArrays.discountText}}</h5> -->
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <!-- <owl-carousel-o [options]="localcarousel2">
            <ng-template carouselSlide *ngFor="let localCategoryArrays2 of localCategoryArray2">
                <div class="category_box">
                    <div class="category_box_inner">
                        <div class="img_div">
                            <img src="{{localCategoryArrays2.newImgName}}" alt="">
                        </div>
                        <div class="text_div">
                            <h4>{{localCategoryArrays2.newTitleName}}</h4>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o> -->
        <!--<div class="btn_center">
            <a class="btn btn btn-primary sell_bazar" (click)="openUserLogInModal(userLogInContent)"><span>Sell on Bazar <img src="assets/images/right-arrows-black.png" alt="" class="black_arrow"></span></a>
            <a class="btn btn btn-primary sign_up_to_shop" routerLink="/userRegistration"><span>Sign up to shop <img src="assets/images/right-arrows-white.png" alt="" class="white_arrow"></span></a>
        </div>-->
    </div>
</div>
<!-- * * * * * * * * * * * Common-Local-Brands Section end * * * * * * * * * * * -->

<!-- * * * * * * * * * * * Banner Start * * * * * * * * * * * -->
<div class="local_banner" style="background-image: url(assets/images/bg-image.png);">
    <div class="white_banner_box">
        <h3>Are you ready for wholesale?</h3>
        <p>Reach new level in sales</p>
        <ng-container *ngIf="role == null">
            <a class="btn btn-primary sell_on_bazar" (click)="openUserLogInModal(userLogInContent)"><span>Sell on Bazar <img src="assets/images/right-arrows-black.png" alt="" class="black_arrow"></span></a>
            <a class="btn btn-primary sign_up_to_shop" routerLink="/userRegistration"><span>Sign up to shop <img src="assets/images/right-arrows-white.png" alt="" class="white_arrow"></span></a>
        </ng-container>
    </div>
</div>
<!-- * * * * * * * * * * * Banner End * * * * * * * * * * * -->

<app-footer></app-footer> 

<!-- User-Log-In-Modal -->
<ng-template #userLogInContent let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click'); resetEmailSend = false;"></button>
    </div>
    <div class="modal-body" *ngIf="!resetEmailSend" >
        <h3>Welcome back!</h3>
        <p>Thousands of products await</p>
            <ul class="formOne">
                <form #emailForm="ngForm" (ngSubmit)="emailForm.form.valid && send1stSignInData()" (keydown.enter)="emailForm.form.valid && send1stSignInData()" novalidate>
                    <li *ngIf="log1">
                        <input required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,3}$" email type="text" class="form-control" placeholder="E-mail" name="email_address" [(ngModel)]="email_address" #email_addressVal="ngModel">
                        <span class="validate_errors"
                            *ngIf="(email_addressVal.touched || emailForm.submitted) && email_addressVal.errors?.['required']">
                            This field is required
                        </span>
                        <span class="validate_errors"
                            *ngIf="(email_addressVal.touched || emailForm.submitted) && email_addressVal.errors?.['pattern']">
                            Enter an valid email
                        </span>
                        <button type="submit" class="btn btn-primary continue_btn fullBtn">Continue</button>
                    </li>
                </form>
                <form #signInFrom="ngForm" (ngSubmit)="signInFrom.form.valid && sendSignInData(signInFrom)" (keydown.enter)="signInFrom.form.valid && sendSignInData(signInFrom)" novalidate>
                <li *ngIf="log2">
                    <input hidden type="text" name="email_address" [(ngModel)]="email_address">
                    <input type="password" required minlength="8" class="form-control" placeholder="Password" name="password" [(ngModel)]="password" #passwordVal="ngModel">
                    <span class="validate_errors"
                        *ngIf="(passwordVal.touched || signInFrom.submitted) && passwordVal.errors?.['required']">
                        This field is required.
                    </span>
                    <span class="validate_errors"
                        *ngIf="(passwordVal.touched || signInFrom.submitted) && passwordVal.errors?.['minlength']">
                        Password length must be greater than or equal to 8 characters.
                    </span>
                    <span class="validate_errors">{{validateError}}</span>
                    <button type="button" class="btn btn-primary backButton" (click)="backFirstFunction()">Back</button>
                    <button type="submit" *ngIf="!spinnerShow" class="btn btn-primary">Continue</button>
                    <button type="" class="btn btn-primary common_btn next2" disabled style="position:relative;" *ngIf="spinnerShow"><img src="assets/images/spinner.gif" style="width: 100px; height: 100px; right: 35px;bottom: -28px;position: absolute;"></button>
                </li>
            </form>
            </ul>
            <div class="clearfix"></div>
        <p class="sign_in_para" *ngIf="log2" >Forgot your password? <a (click)="resetPassword()">Reset it</a></p><br>
        <p class="sign_in_para">New to Bazar? <a (click)="modal.dismiss('Cross click')"
                (click)="openUserSignUpModal(content)">Create an account</a></p>
        <ul class="social_login">
            <li><a class="social_link"><span class="social_span"><img src="assets/images/facebook_icon.png"
                            alt="facebook login">Continue with facebook</span></a></li>
            <li><a class="social_link"><span class="social_span"><img src="assets/images/google_icon.png"
                            alt="facebook login">Continue with google</span></a></li>
        </ul>
    </div>
    <div class="modal-body" *ngIf="resetEmailSend">
        <h3>Check your email</h3>
        <p class="sign_in_para" >We just sent you instructions for resetting your password. Didn't get it? <a (click)="resetPassword()">Resend it</a></p><br>
    </div>
</ng-template>

<!-- User-Sign-Up-Modal -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title"><img src="assets/images/bazar_modal_logo.png" alt="logo"></h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <h3>Shop wholesale, online</h3>
        <p>Purchase from over {{vendorCount ? vendorCount : 0}} unique vendors. Sign up for free</p> 
        <form [formGroup]="userRegForm" (ngSubmit)="userRegForm.valid && submitUserEmail(userRegForm)" (keydown.enter)="submitUserEmail(userRegForm)" >
            <ul class="formOne">
                <li>
                    <input required type="email" [(ngModel)]="userEmail" formControlName="userEmail" class="form-control" placeholder="Your business e-mail">
                </li>
                <li>
                    <div class="validate_errors" *ngIf="submitted && userRegForm.controls['userEmail'].invalid">
                        <strong>Email-id Required</strong> Please enter Valid Email-id.
                    </div>
                    <button type="submit" class="btn btn-primary">Get started</button>
                </li>
            </ul>
        </form>
        <p class="sign_in_para"><a (click)="modal.dismiss('Cross click')" (click)="openUserLogInModal(userLogInContent)">Sign in</a> or <a (click)="modal.dismiss('Cross click')" (click)="openVendorSignUpModal(vendorsRegistration)">Sell on Bazar</a></p>
    </div>
    <div class="modal-footer">
        <p>By signing up for Bazar, you are aagreeing to our <a>Terms</a> and <a>Privacy policy</a></p>
    </div>
</ng-template>

<!-- Vendors-Registration-Modal -->
<ng-template #vendorsRegistration let-modal > 
    <div class="modal-header">
        <h4 class="modal-title"><img src="assets/images/bazar_modal_logo.png" alt="logo"></h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <h3>Shop wholesale, online</h3>
        <p>Purchase from over {{vendorCount ? vendorCount : 0}} unique vendors. Sign up for free</p>
       
        <!-- <form [formGroup]="vendorRegForm" (ngSubmit)="submitEmail(vendorRegForm)">  -->
        <form #vendorRegForm="ngForm" (ngSubmit)="vendorRegForm.form.valid && submitEmail(vendorRegForm)">
            <ul class="formOne">
                <li>
                    <!-- <input required type="email" [(ngModel)]="email" formControlName="vendorEmail"  class="form-control" placeholder="Your business e-mail"> -->
                    <input class="form-control" type="email" value="" name="vendorEmail" [(ngModel)]="vendorEmail" #vendorEmailval='ngModel' required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,3}$">
                </li>
                <li>
                    <span class="validate_errors"
                        *ngIf="(vendorEmailval.touched || vendorRegForm.submitted) && vendorEmailval.errors?.['required']">
                        Email is required.
                    </span>
                    <span class="validate_errors"
                        *ngIf="(vendorEmailval.touched || vendorRegForm.submitted) && vendorEmailval.errors?.['email']">
                        Email is not valid.
                    </span>
                    <span class="validate_errors"
                        *ngIf="(vendorEmailval.touched || vendorRegForm.submitted) && vendorEmailval.errors?.['pattern']">
                        Email is not valid.
                    </span>
                    <button  type="submit" class="btn btn-primary" >Get started</button>
                </li>
            </ul>
        </form>
        <p class="sign_in_para"><a (click)="modal.dismiss('Cross click')" (click)="openUserLogInModal(userLogInContent)">Sign in</a> or <a (click)="modal.dismiss('Cross click')" (click)="openUserLogInModal(userLogInContent)">Sell on Bazar</a>
        </p>
    </div>
    <div class="modal-footer">
        <p>By signing up for Bazar, you are aagreeing to our <a>Terms</a> and <a>Privacy policy</a></p>
    </div>
</ng-template>
