<app-header></app-header>
<!-- * * * * * * * * * * * Header End * * * * * * * * * * * -->

<div class="border_top"></div>
<div class="container">
    <nav aria-label="breadcrumb" class="breadCrumbNav">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>BLOG & NEWS</a></li>
            <li class="breadcrumb-item active" aria-current="page">FOR BRANDS</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-7 left_blog_category">
            <div class="left_blog_category_content">
                <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails">
                    <img src="assets/images/blog_category_img1.png" alt="">
                    <h3>6 ADVICES HOW TO RUN WHOLESALE FURNITURE BUSINESS</h3>
                    <span class="dateSpan">25 Jan 2022</span>
                    <p>For many <a><strong>business owners</strong></a>, a new year brings a new set of goals for the
                        months ahead. We asked ambitious members of our retailer and brand community what they hope to
                        achieve in the coming year—and more importantly, how they plan to tackle those goals...</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</p>
                </a>
            </div>
            <div class="left_blog_category_content">
                <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails">
                    <img src="assets/images/blog_category_img1.png" alt="">
                    <h3>6 ADVICES HOW TO RUN WHOLESALE FURNITURE BUSINESS</h3>
                    <span class="dateSpan">25 Jan 2022</span>
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum.</p>
                    <p><strong>Lorem Ipsum</strong> is: </p>
                    <ul>
                        <li>simply dummy text of the printing and typesetting industry</li>
                        <li>lorem Ipsum has been the industry's standard dummy text ever since the 1500s</li>
                        <li>when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </li>
                    </ul>
                </a>
            </div>
            <div class="related_blog_sec">
                <h5>RELATED ARICLES</h5>
                <ul class="row relatedList">
                    <li class="col-md-4">
                        <div class="imgDiv"><img src="assets/images/blog-related-img.png" alt=""></div>
                        <div class="textDiv">
                            <h3>6 necessary advices</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>Expert explain how to grow wholesale in our times</p>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="imgDiv"><img src="assets/images/blog-related-img.png" alt=""></div>
                        <div class="textDiv">
                            <h3>6 necessary advices</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>Expert explain how to grow wholesale in our times</p>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="imgDiv"><img src="assets/images/blog-related-img.png" alt=""></div>
                        <div class="textDiv">
                            <h3>6 necessary advices</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>Expert explain how to grow wholesale in our times</p>
                        </div>
                    </li>
                </ul>
                <p class="all_articles_para"><a class="btn btn-primary">ALL ARTICLES</a></p>
            </div>
        </div>
        <div class="col-md-5 right_blog_category">
            <ul class="similar_cat">
                <li>
                    <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails" class="row">
                        <div class="col-md-4 imgDiv"><img src="assets/images/blog_cat_img2.png" alt=""></div>
                        <div class="col-md-8 textDiv">
                            <h3>6 ADVICES HOW TO RUN WHOLESALE BUSINESS</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>Expert explain how to grow wholesale in our times</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails" class="row">
                        <div class="col-md-4 imgDiv"><img src="assets/images/blog_cat_img3.png" alt=""></div>
                        <div class="col-md-8 textDiv">
                            <h3>6 ADVICES HOW TO RUN WHOLESALE BUSINESS</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>Expert explain how to grow wholesale in our times</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/blogDetails" href="#/blogDetails" class="row">
                        <div class="col-md-4 imgDiv"><img src="assets/images/blog_cat_img4.png" alt=""></div>
                        <div class="col-md-8 textDiv">
                            <h3>6 ADVICES HOW TO RUN WHOLESALE BUSINESS</h3>
                            <span class="dateSpan">25 Jan 2022</span>
                            <p>Expert explain how to grow wholesale in our times</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>