<div class="blackLoader"></div>
<!-- * * * * * * * * * * * Home Banner * * * * * * * * * * * -->
<div class="home_banner">
	<a class="home_logo" href=""><img src="assets/images/bazar.svg" alt="Home Logo" /></a>
	<div class="left_banner">
    	<div class="inner_left_banner_text">
    		<h4>MIDDLE EAST</h4>
    		<h3>Whole<span>sale</span></h3>
        </div>
    </div>
    <div class="right_banner">
    	<!--<h3>Sale</h3>-->
		<h3 class="mobile_view_show heading3">MIDDLE EAST</h3>
		<h4 class="mobile_view_show heading4">Wholesale</h4>
    </div>
</div>
<!-- * * * * * * * * * * * Home Banner End * * * * * * * * * * * -->

<!-- * * * * * * * * * * * Home Footer * * * * * * * * * * * -->
<div class="home_footer">
	<div class="home_left_footer">
    	<div class="home_left_footer_text">
    		<h3>Are you ready for</h3>
    		<h4>wholesale business</h4>
        </div>
    </div>
    <div class="home_right_footer">
    	<div class="home_right_footer_text">
        	<ul class="home_footer_list">
            	<li>
                	<img src="assets/images/home_footer_palm-img.png" alt="image" />
                	<p>Buy new products for resale in your store, and pay 60 days later.</p>
                </li>
                <li>
                	<img src="assets/images/home_footer_palm-img.png" alt="image" />
                	<p>The more you shop our wholesale website, the better recommendations you'll get.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- * * * * * * * * * * * Home Footer End * * * * * * * * * * * -->

<!-- * * * * * * * * * * * Home Modal * * * * * * * * * * * -->
<div class="modal customModal homeModal" tabindex="-1" id="login-modal">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-body">
			<h3>Welcome to Bazar!</h3>
			<p>Please choose one of the options to proceed</p>
		</div>
		<div class="modal-footer">
			<a routerLinkActive="active" routerLink="/localBrands"  href="#/localBrands" (click)="delete()">Local brands</a>
			<a routerLinkActive="active" routerLink="/localManufacturers"  href="#/localManufacturers" (click)="delete()">Local Manufacturers</a>
			<a routerLinkActive="active" routerLink="/internationalBrands"  href="#/internationalBrands" (click)="delete()">International Brands</a>
		</div>
		</div>
	</div>
</div> 
<!-- * * * * * * * * * * * Home Modal End * * * * * * * * * * * -->
